<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>

                </div>
                <div class="panel-body">
                    <notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
                    <form role="form" action="{$action}" method="POST" enctype="multipart/form-data">
                        <notempty name="id"><input name="id" type="hidden" value="{$id}" /></notempty>
                        <div class="form-group">
                            <label class="control-label" for="bannerimg">图片</label>
                            <div class="controls">
                                <input type="file" name="picture" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="date01">跳转链接</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <input name="link" class="form-control focused" id="focusedInput" type="text" value="{$BannerInfo.link}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="保存" />
                            <a href="lists.html" class="btn btn-warning" >返回</a>
                        </div>
                    </form>

                </div>
            </div>
        </div><!--/col-->

    </div>
    <style>
        .countrylistdiv{float:left;    float: left;
            height: 25px;
            line-height: 25px;
            width: 120px;
            font-size: 14px;}


    </style>
    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            /*
            $(".switch-input").change(function(){
                var gid = $(this).attr("title");
                var gstatus = $(this).attr("alt");
                if(gstatus==1){
                    gstatus =0;
                }else{
                    gstatus =1;
                }
                $(this).attr("alt",gstatus);


                    $.post("/Adms/Register/updatestatus",{gid:gid,status:gstatus},function(data,status){

                        });
                });
                */
        });
    </script>
</block>