<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

                </div>
                <div class="panel-body">
                    <div class="form-group search">
                        <form class="form-horizontal" action="{$action}" method="get">

                            <div style="float:right;"> <a class="btn btn-primary" href="add.html">添加</a></div>
                        </form>
                    </div>
                    <table style="table-layout: fixed;width: 100%;" class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead>
                        <tr>
                            <th width="1;">id</th>
                            <th width="100px;">图片</th>
                            <th width="50px;">跳转链接</th>
                            <th width="50px;">状态</th>
                            <th width="50;">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <volist name="BannerInfo" id="vo">
                            <tr>
                                <td>{$vo.id}</td>
                                <td>
                                    <a href="{$msgurl}{$vo.picture}" data-lightbox="image-165593" data-title="165593">
                                        <img src="{$msgurl}{$vo.picture}" width="100em" >
                                    </a>
                                </td>
                                <td>{$vo.link}</td>
                                <if condition="$vo['is_up'] eq 0">
                                    <td style="color: blue">下架</td>
                                    <else/>
                                    <td style="color: red">上架</td>
                                </if>
                                <td>
                                    <a href="edit.html?id={$vo.id}">修改</a> ||
<!--                                    <a href="del.html?id={$vo.id}">删除</a> ||-->
                                    <a href="/Adms/Banner/up?id={$vo.id}">上架</a> ||
                                    <a href="/Adms/Banner/down?id={$vo.id}">下架</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    {$Pages}
                </div>
            </div>
        </div><!--/col-->

    </div>

    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>

</block>