/*首页0406*/
.head{  
    position: absolute;
    top:0;
    width:100%;
    height:110px; 
    background: #ffe5ec;
    opacity: 0.8;
}

.container{
    width:1200px;
    height: 110px;
    margin:0 auto;
    
}
 .tit{

} 
.container .tit a{

    display:inline-block; 
    text-decoration:none;
    line-height: 110px;
    width:82px;
    font-size: 16px;
    color:#ff668f;
    margin: 0 auto;
    text-align: center;
}
.container .tit a:hover{
    color: #fff;
    background:url(../image/love.png) no-repeat center;
}
.container .tit a.on{
    color: #fff;
    background:url(../image/love.png) no-repeat center;
}
.banner01{
    /* position: relative; */
    width:100%;
    height: 920px;
    color: #ff668f;


    background:url(../image/banner-BG.png) center no-repeat;
}
.banner01 h1{
    position: absolute;
    top :300px;
    left:42%;
    font-size: 42px;
    
}
.banner01 p1,p2,p3{
   
    font-size: 28px;
}
.banner01 p1{
    position: absolute;
    top :400px;
    left:42%;   
}
.banner01 p2{
    position: absolute;
    top :450px;
    left:42%;
    
}
.banner01 p3{
    position: absolute;
    top :500px;
    left:42%;
    
}
.banner02{
    position: relative;
    width:100%;
    height:880px; 
    margin-top: 40px;
  
    background:url(../image/show.png) no-repeat center top;

}
.banner02 p,span1,span2{
    font-size: 24px;
    color:#ff668f;
}
.banner02 p{
    position: absolute;
    bottom:145px;
    left:46%;
    padding-bottom:40px;
}
.banner02 span1{
    position: absolute;
    bottom:95px;
    left:43.5%;
    padding-bottom:40px;
}
.banner02 span2{
    font-size: 20px;
    position: absolute;
    bottom:85px;
    left:30%;
}
.download{
    position: relative;
    height: 740px;
    text-align: center;   
    color: #ff668f;
    background: #fff0f6 url(../image/bnnerBG.png) no-repeat bottom;
}
.download h2{
    font-size: 42px;
    padding-top:80px;
    padding-bottom:110px;
}
.download .android,.ios{

    width:260px;
    height:260px;
    border:1px solid #ff668f;
    box-sizing: border-box;
    background-color: #fff;
}
.download .android{
     float: left;
     margin-left:520px;
    background:#fff url(../image/安卓logo--2.png) no-repeat center;
}
.download .ios{
     float: left;
     margin-left: 356px;
    background:#fff url(../image/IOS-2.png) no-repeat center;
}
.download span3,  span4{
     font-size: 48px;
     }
.download span3{
    position: absolute;
    bottom: 130px;
    left: 29.6%;
}
.download span4{
    position: absolute;
    bottom: 130px;
    left:62.6%;
}
.download .android, .ios{
    transition:all 0.5s ease;
}
.download .android:hover{
    background:#ff668f url(../image/安卓logo.png) no-repeat center;
    border-radius: 100px 0 0;
    box-shadow:0 3px 20px rgba(0,0,0,.3);
}
.download .ios:hover{
    background:#ff668f url(../image/IOS.png) no-repeat center;
    border-radius: 100px 0 0;
    box-shadow:0 3px 20px rgba(0, 0, 0, .3);
}
.footer{ 
    text-align:center;
    border-top:1px solid #e8e8e8
}
h6{
    font-size: 12px;
    color:#999;
    padding:40px;
}
/* 首页end */

.banner03{
    width:100%;
    height: 840px;
    text-align: center;
    background: url(../image/display.png) no-repeat center ;
}
h3{   
    padding-top: 440px;
    font-size: 62px;
    color: #ff0044;
}
.shake{
    margin:90px auto;
    height: 460px;
    width: 1200px;
    background: #fff url(../image/shake.png) no-repeat right;
}
.shake p{
    font-size: 42px;
    color: #ff668f;
    padding:50px 0 30px; 
}
.shake span{
    display: block;
    padding-bottom: 89px;
    font-size: 28px;
    color: #333;
}
.shake img{
    float: left;
    margin-right: 60px;
}
.data{
    margin:0 auto; 
    height: 460px;
    width: 1200px;
    background: #fff url(../image/data.png) no-repeat left;
}
.data p{
    font-size: 42px;
    color: #ff668f;
    padding:50px 0  30px 420px; 
}
.data span{
    display: block;
    padding-left:420px; 
    padding-bottom: 89px;  
    font-size: 28px;
    color: #333;
}
.data img{
    float: right;
    margin-right: 60px;
}
.information{
    margin:90px auto 40px;
    height: 460px;
    width: 1200px;
    background: #fff url(../image/shake.png) no-repeat right;
}
.information p{
    font-size: 42px;
    color: #ff668f;
    padding:50px 0 30px; 
}
.information span{
    display:block;
    padding-bottom:89px;
    font-size:28px;
    color: #333;
}
.information img{
    float: left;
    margin-right: 60px;
}
/*产品介绍end*/




/*Mobile web  start*/


.head02 {
    position: fixed;
    left: 0;
    top: 0;
    margin:0;
    padding:0;
    width: 100%;
    z-index: 10;
    font-size: 1rem;
    height:7.5rem;
    background-color: #ffe5ec;
    opacity: 0.8;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s,-webkit-transform .4s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.head02 .tit02 a{
    display:inline-block;
    width:24%;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-decoration:none;
    line-height:7.5rem;
    height: 100%;
    color:#ff668f;
    text-align: center;
    margin:0;
    padding:0;
}

.head02 .tit02 a:hover{
    color:#fff;
    background:url(../image/心.png) no-repeat center;
    background-size:40%;
}
.head02 .tit02 a.on{
    color: #fff;
    background:url(../image/心.png) no-repeat center;
    background-size: 40%;
}
#nava span{text-decoration: none; color:#ff668f; }
#nava span.onn{background:#ff668f;color:#fff;}
.centerbg02{
    height: 100%;
    background:#fff;
    padding-top:7.5rem;
}

.centerbg02 .nav2{
   font-size:24px;
   margin:30px auto;
   text-align: center;
} 
.centerbg02 .nav2 .user{
 display: inline-block;
 width:260px;
 height:60px;
 line-height: 60px;
 color:#fff;
 text-align: center;
 border:1px #ff668f solid ;
 margin-right:100px;

}
.centerbg02 .nav2 .diamond{
 display: inline-block;
 width:260px;
 height:60px;
 line-height: 60px;
 color:#ff668f;
 text-align: center;
 background: #fff ;
 border:1px #ff668f solid ;

}
.centerbg02 h5,.meal{
 font-size:28px;
 color:#333;
 font-weight:normal;
 padding-left:30px;
 margin-bottom:30px;
 margin-top: 10px;
}
.centerbg02 .shuru{
 margin-bottom: 40px;
 padding-left:30px;
}

.centerbg02 .shuru input{
   font-size:24px;
   color:#666;
   height:30px;
   text-align: center;
   width:94%;
   line-height:54px;
   padding:15px;
   border-color: #ffe5ec;
}   
.centerbg02 ul{
    list-style: none;
    margin-left:30px;
    padding: 0;
}
.centerbg02 .li02{
    float:left;
    width:46%;
    text-align:center;
    height:122px;
    margin-right:30px; 
    border: 1px solid #ddd;
    margin-bottom: 40px;
    box-sizing: border-box;
    cursor: pointer;
}
.centerbg02 ul .active{
    border:4px solid #ff668f;
    background: url(../image/选择.png) no-repeat right 0;
}
.centerbg02 .li02 p{
    display: block;
    font-size: 28px;
    color:#666;    
    padding-top:16px;
}

.centerbg02 .li02 span{
    display: block;
    font-size:36px; 
    color:#333;
    padding-top:10px;
}
.centerbg02 .zhifu{
font-size:28px;
 color:#333;
 font-weight:normal; 
 padding-left:30px; 
 padding-bottom:30px;
 
}
.centerbg02 .heji{
font-size:28px;
 color:#333;
 font-weight:normal;
 padding-top:40px;
 padding-left:30px; 
 
}
.centerbg02 .pal{
    width:44%;
    height:90px;
    background: url(../image/Paypal.png) no-repeat center;
    background-size: 45%;
    border:1px #2ca9de solid;
    margin-left:30px;
    margin-bottom:50px;
}

.centerbg02 .total02 input{
    font-size: 36px;
    color:#ff668f;
    font-weight: bold;
   padding:30px;
   border:none;
   margin-bottom: 60px;
}
.centerbg02 a{
    display: block;
    text-align: center;
    margin:0 auto;
    text-decoration: none;
}


.centerbg02 button{
    width:95%;
    height:72px;
    line-height:72px;
    font-size:32px;
    color:#fff;
    background: #ff668f;
    border:none;

}
.centerbg02 .content02{
    width:100%;
    height:100%;    
} 
.centerbg02 .content02 .box{
    display: none;
} 
.centerbg02 .content02 .box .actived{
    display: block;
}
 
.centerbg02 .content02 .box a{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    text-decoration: none;
    width: 360px;
    height: 48px;
    line-height:48px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    background: #ff668f;
}


/*Mobile web end*/

/*帮助中心*/

.helpbg{
    background:#fff0f6;
    width:100%;
    height: 100%;
    
}
.helpbg .wbg{
    padding-top:110px;    
}
.wbg p{
    font-size:24px;
    color:#333;
    padding-left:70px;
    line-height: 130px;
}



.helpbg .tab01{
   display: block;
   margin-left:70px;
   margin-bottom:20px;
    width:160px;
    height:46px;
    line-height:46px;
    font-size:20px;
    text-align: center;
    border:1px solid #ff668f;
    cursor: pointer;
}

.helpbg .tab02,.tab03,.tab04{
    display: block;
    margin-left:70px;
    margin-bottom:20px;
    width:160px;
    height:46px;
    line-height:46px;
    font-size:20px;
    text-align:center;
    color:#333;
    cursor: pointer;    
}
#nava i{text-decoration: none;color:#333;}
#nava i.onn{background:#ff668f;color:#fff;}

 .wbg .content002{
    float: right;
    width:865px;
    height:100%;
    
}
.wbg .content002 .box02{display: none;}
.wbg .content002 .box02.actived{display: block;}


.wbg .content002 .box02 h2{
    position: relative;
    font-size:16px; 
    line-height:28px;  
    color:#666; 
    padding-left: 40px;
    padding-top:2px;   
    margin-bottom:30px;    
    cursor:pointer;
        
}
.wbg .content002 .box02 i{
    margin-right:16px;
    font-weight: bold;
    position: absolute;
    top:1px;
    left:0;
   }
.wbg .content002 .box02 h2 .spr{
    display:inline-block;
    position: absolute;
    top:3px;
    left:200px;
    width:24px;
    height: 24px;
    
    
}
.wbg .content002 .box02 .num1{
    font-size:24px;   
    color:#ff668f;
}
   .wbg .content002 .box02 .px{
    display:block;
    color:#ff668f;
    line-height: 30px;
    border-top: 2px solid #e3556b;
    padding: 10px 0 24px;
    box-sizing: content-box;
}
.wbg .content002 .box02 .px span{
    color: #666;
}
.bgc{
     background: url(../image/b.png) !important;
}
