<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">

    <div class="row">
        <div class="col-xs-12">
        <div class="tabbable">

            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab">
                <li >
                    <a href="{:U('Adms/Rule/admin_user_list')}">管理员列表</a>
                </li>
                <li >
                    <a href="{:U('Adms/Rule/add_admin')}">添加管理员</a>
                </li>
            </ul>
            <div class="tab-content">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                        <th width="10%">用户名</th>
                        <th>用户组</th>
                        <th>操作</th>
                    </tr>
                    <foreach name="data" item="v">
                        <tr>
                            <td>{$v['name']}</td>
                            <td>{$v['title']}</td>
                            <td>
                                <a href="{:U('Adms/Rule/edit_admin',array('id'=>$v['id']))}">修改权限或密码</a>&ensp;&ensp;&ensp;||&ensp;&ensp;&ensp;
                                <a href="/Adms/Rule/deleteadmin.html?id={$v['id']}">删除管理员
                            </td>
                        </tr>
                    </foreach>
                </table>
            </div>
        </div>
    </div>
    </div>
    <icheckjs color="blue" />
</block>
