<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">

    <div class="row">
    <div class="col-xs-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab">
                <li>
                     <a href="{:U('Adms/Rule/admin_user_list')}">管理员列表</a>
                </li>
                <li class="active">
                    <a href="{:U('Adms/Rule/edit_admin')}">修改管理员</a>
                </li>
            </ul>
            <div class="tab-content">
                <form class="form-inline" method="post">
                    <input type="hidden" name="id" value="{$user_data['id']}">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <tr>
                            <th>管理组</th>
                            <td>
                                <foreach name="data" item="v">
                                    {$v['title']}
                                    <input class="xb-icheck" type="checkbox" name="group_ids[]" value="{$v['id']}" <in name="v['id']" value="$group_data"> checked="checked" </in> >
                                    &emsp;                    
                                </foreach>
                            </td>
                        </tr>
                        <tr>
                            <th>姓名</th>
                            <td>
                                <input class="input-medium" type="text" name="name" value="{$user_data['name']}">
                            </td>
                        </tr>

                        <tr>
                            <th>初始密码</th>
                            <td>
                                <input class="input-medium" type="text" name="password">如不改密码；留空即可
                            </td>
                        </tr>
                        <!--<tr>
                            <th>状态</th>
                            <td>
                                <span class="inputword">允许登录</span>
                                <input class="xb-icheck" type="radio" name="status" value="1" <eq name="user_data['status']" value="1"> checked="checked" </eq> >
                                &emsp;
                                <span class="inputword">禁止登录</span>
                                <input class="xb-icheck" type="radio" name="status" value="0" <eq name="user_data['status']" value="0"> checked="checked" </eq> >
                            </td>
                        </tr>-->
                        <tr>
                            <th></th>
                            <td>
                                <input class="btn btn-success" type="submit" value="修改">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    </div>
    <icheckjs color="blue" />
</block>
