<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div style="float:right;margin-right: 20px"> <a class="btn btn-primary" href="add.html">添加</a>
						</div>
						<div class="panel-body">

							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
                                      <th>id</th>
									  <th>名称</th>
									  <th>是否显示</th>
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								<tr>  
                                    <td>{$vo.id}</td>
									<td>{$vo.name}</td>
									<td>	<if condition='$vo.type eq 0'>
											未显示
											<a href="javascript:void(0);" onclick="return is_add({$vo.id},1)">
												添加显示</a>
											<elseif condition="$vo.type eq 1" />
											已显示
											<a href="javascript:void(0);" onclick="return is_add({$vo.id},0)">
												取消显示</a>
										</if>
									</td>								
									<td>

				<a href="edit.html?id={$vo.id}">修改</a> || <a href="del.html?id={$vo.id}">删除</a>

									</td>

									
								</tr>
								</volist>	
							  </tbody>
						  </table>
							{$Pages}
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">

    function is_add(id,type){
        var data = {'id':id,'type':type};
        var url = "/Adms/navigate/isadd";
        $.post(url,data,function(result){
            if(result.status =='1') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            if(result.status =='0') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            location.reload();
        },'JSON');

    }

    </script>		
</block>