<extend name="./Application/Adms/View/public.html" />
<block name="content">
	<link href="__PUBLIC__/assets/plugins/xcharts/css/xcharts.min.css" rel=" stylesheet">



	<script src="__PUBLIC__/echarts/echarts.min.js"></script>
<script src="__PUBLIC__/echarts/macarons.js"></script>
<script src="__PUBLIC__/echarts/roma.js"></script>

	<script type="text/javascript">

	//注册量统计
	function TongjiYiZhouReg(){
		$.post("/Adms/Index/TongjiYiZhouReg",function(data,status){
				//alert(data);
				echarts.init(document.getElementById('regTongji'),"macarons").setOption(eval('(' + data + ')'));
			});

      }
	  TongjiYiZhouReg();
	  //充值率统计
    function TongjiYiZhouCzlv(){
  $.post("/Adms/Index/TongjiYiZhouCzlv",function(data,status){
          //alert(data);
          echarts.init(document.getElementById('TongjiYiZhouCzlv'),"roma").setOption(eval('(' + data + ')'));
      });
}
TongjiYiZhouCzlv();
      //注册区域统计
     /* function ShowruTongjiYue(){
   $.post("/Adms/Index2/ShowruTongjiYue",function(data,status){
           //alert(data);
           echarts.init(document.getElementById('ShowruTongjiYue'),"macarons").setOption(eval('(' + data + ')'));
       });
 }
 ShowruTongjiYue();*/


    function ShowruTongjiYue(){
        $.post("/Adms/Index/ShowruTongjiYue",function(data1,status){
            var dom = document.getElementById("ShowruTongjiYue");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            data1=eval("("+data1+")");
            var dataAxis =data1['xAxis'];
            var data=data1['series'];
            var yMax ="";
            var dataShadow = [];

            for (var i = 0; i < data.length; i++) {
                dataShadow.push(yMax);
            }

            option = {
                title: {
                    text: '月总收入',
                    subtext: '（人民币）'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                xAxis: {
                    data: dataAxis,
                    axisLabel: {
                        inside: true,
                        textStyle: {
                            color: '#7c99ff'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: false
                    },
                    z: 10
                },
                yAxis: {
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [

                    {
                        type: 'bar',
							itemStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#83bff6'},
                                        {offset: 0.5, color: '#188df0'},
                                        {offset: 1, color: '#188df0'}
                                    ]
                                )
                            },
                            emphasis: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#2378f7'},
                                        {offset: 0.7, color: '#2378f7'},
                                        {offset: 1, color: '#83bff6'}
                                    ]
                                )
                            }
                        },
                        data: data
                    }

                ]
            };

// Enable data zoom when user click bar.
            var zoomSize = 6;
            myChart.on('click', function (params) {
                console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                myChart.dispatchAction({
                    type: 'dataZoom',
                    startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                    endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                });
            });
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        });
    }
    ShowruTongjiYue();
	  //alert(1);
    function ShowruTongjiYuevip(){
        $.post("/Adms/Index/ShowruTongjiYuevip",function(data1,status){
            var dom = document.getElementById("ShowruTongjiYuevip");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            data1=eval("("+data1+")");
            var dataAxis =data1['xAxis'];
            var data=data1['series'];
            var yMax ="";
            var dataShadow = [];

            for (var i = 0; i < data.length; i++) {
                dataShadow.push(yMax);
            }

            option = {
                title: {
                    text: '月总收入',
                    subtext: '（人民币）'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                xAxis: {
                    data: dataAxis,
                    axisLabel: {
                        inside: true,
                        textStyle: {
                            color: '#7c99ff'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: false
                    },
                    z: 10
                },
                yAxis: {
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [

                    {
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#83bff6'},
                                        {offset: 0.5, color: '#188df0'},
                                        {offset: 1, color: '#188df0'}
                                    ]
                                )
                            },
                            emphasis: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#2378f7'},
                                        {offset: 0.7, color: '#2378f7'},
                                        {offset: 1, color: '#83bff6'}
                                    ]
                                )
                            }
                        },
                        data: data
                    }

                ]
            };

// Enable data zoom when user click bar.
            var zoomSize = 6;
            myChart.on('click', function (params) {
                console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                myChart.dispatchAction({
                    type: 'dataZoom',
                    startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                    endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                });
            });
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        });
    }
    ShowruTongjiYuevip();

    function ShowruTongjiYuelw(){
        $.post("/Adms/Index/ShowruTongjiYuelw",function(data1,status){
            var dom = document.getElementById("ShowruTongjiYuelw");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            data1=eval("("+data1+")");
            var dataAxis =data1['xAxis'];
            var data=data1['series'];
            var yMax ="";
            var dataShadow = [];

            for (var i = 0; i < data.length; i++) {
                dataShadow.push(yMax);
            }

            option = {
                title: {
                    text: '月总收入',
                    subtext: '（人民币）'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                xAxis: {
                    data: dataAxis,
                    axisLabel: {
                        inside: true,
                        textStyle: {
                            color: '#7c99ff'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: false
                    },
                    z: 10
                },
                yAxis: {
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [

                    {
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#83bff6'},
                                        {offset: 0.5, color: '#188df0'},
                                        {offset: 1, color: '#188df0'}
                                    ]
                                )
                            },
                            emphasis: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#2378f7'},
                                        {offset: 0.7, color: '#2378f7'},
                                        {offset: 1, color: '#83bff6'}
                                    ]
                                )
                            }
                        },
                        data: data
                    }

                ]
            };

// Enable data zoom when user click bar.
            var zoomSize = 6;
            myChart.on('click', function (params) {
                console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                myChart.dispatchAction({
                    type: 'dataZoom',
                    startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                    endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                });
            });
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        });
    }
    ShowruTongjiYuelw();
    </script>


</block>