<extend name="./Application/Adms/View/public.html" />
<block name="content">
	<link href="__PUBLIC__/assets/plugins/xcharts/css/xcharts.min.css" rel=" stylesheet">
		<!-- start: Content -->



	<div class="row">
		<div class="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bar-chart-o red"></i><strong>在线普通男用户人数统计</strong></h2>
					<div class="panel-actions">
						<a href="javascript:onlinecount();" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

					</div>
				</div>
				<div class="panel-body">
					<figure class="demo" id="onlinecount" style="height: 300px"></figure>
				</div>
			</div>

		</div><!--/col-->
	</div><!--/row-->
	<div class="row">
		<div class="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bar-chart-o red"></i><strong>在线普通女用户人数统计</strong></h2>
					<div class="panel-actions">
						<a href="javascript:onlinecountgirl();" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

					</div>
				</div>
				<div class="panel-body">
					<figure class="demo" id="onlinecountgirl" style="height: 300px"></figure>
				</div>
			</div>

		</div><!--/col-->
	</div><!--/row-->
	<div class="row">
		<div class="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bar-chart-o red"></i><strong>在线类型3女用户人数统计</strong></h2>
					<div class="panel-actions">
						<a href="javascript:onlinecountthree();" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

					</div>
				</div>
				<div class="panel-body">
					<figure class="demo" id="onlinecountthree" style="height: 300px"></figure>
				</div>
			</div>

		</div><!--/col-->
	</div><!--/row-->

	<div class="row">
		<div class="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bar-chart-o red"></i><strong>订单个数</strong></h2>
					<div class="panel-actions">
						<a href="javascript:ordercount();" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

					</div>
				</div>
				<div class="panel-body">
					<figure class="demo" id="ordercount" style="height: 300px"></figure>
				</div>
			</div>

		</div><!--/col-->
	</div><!--/row-->



	<script src="__PUBLIC__/echarts/echarts.min.js"></script>
<script src="__PUBLIC__/echarts/macarons.js"></script>
<script src="__PUBLIC__/echarts/roma.js"></script>

	<script type="text/javascript">
        //在线人数统计
        function onlinecount(){
            $.post("/Adms/Index/onlinecount",function(data,status){
                //alert(data);
                echarts.init(document.getElementById('onlinecount'),"macarons").setOption(eval('(' + data + ')'));
            });
        }
        onlinecount();
        //在线人数统计
        function onlinecountgirl(){
            $.post("/Adms/Index/onlinecountgirl",function(data,status){
                //alert(data);
                echarts.init(document.getElementById('onlinecountgirl'),"macarons").setOption(eval('(' + data + ')'));
            });
        }
        onlinecountgirl();

        //在线人数统计
        function onlinecountthree(){
            $.post("/Adms/Index/onlinecountthree",function(data,status){
                //alert(data);
                echarts.init(document.getElementById('onlinecountthree'),"macarons").setOption(eval('(' + data + ')'));
            });
        }
        onlinecountthree();

        //订单个数
        function ordercount(){
            $.post("/Adms/Index/ordercount",function(data,status){
                //alert(data);
                echarts.init(document.getElementById('ordercount'),"macarons").setOption(eval('(' + data + ')'));
            });
        }
        ordercount();
	</script>
</block>