<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>
                </div>
                <div class="panel-body">
                    <div class="form-group search">
                        <form class="form-horizontal" action="{$action}" method="get">
                            关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
                            <input class="btn btn-sm btn-info" type="submit" value="查询" />
                            <div style="float:right;"> <a class="btn btn-primary" href="add.html">添加</a></div>
                        </form>
                    </div>
                    <table style="table-layout: fixed;width: 100%;" class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead>
                        <tr>
                            <th width="45">id</th>
                            <th>名称</th>
                            <th>添加时间</th>
                            <th>修改时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="GoodsTypeInfo" id="vo">
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.name}</td>
                                <td>{:date('Y-m-d H:i:s',$vo['addtime'])}</td>
                                <td>{:date('Y-m-d H:i:s',$vo['updatetime'])}</td>
                                <td>
                                    <a href="edit.html?id={$vo.id}">修改</a> ||
                                    <a href="del.html?id={$vo.id}">删除</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    {$Pages}
                </div>
            </div>
        </div><!--/col-->
    </div>

    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>

</block>