<extend name="./Application/Adms/View/public.html"/>

<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <link rel="stylesheet" href="__PUBLIC__/website/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/website/font-awesome/css/font-awesome.min.css" media="all"/>

    <form class="layui-form" id="admin">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline" style="max-width:600px;">
                <input name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"
                       type="text"
                <notempty name="article.title">value="{$article.title}"</notempty>
                >
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">url</label>
            <div class="layui-input-inline" style="max-width:600px;">
                <input name="url" value="<notempty name='article.url'>{$article.url}</notempty>" class="layui-input" type="text" />
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">图片</label>
            <div class="layui-input-inline" style="max-width:600px;">
                <input name="imgsrc"  id="imgsrc" value="{$article.imgsrc}" type="hidden" />
                <img id="imgsrcshow" width=40 height=auto src="{$article.imgsrcshow}" style="<empty name='article.imgsrc'>display:none</empty>" />
                <button type="button" class="layui-btn" id="btnimgsrc">
				  <i class="layui-icon">&#xe67c;</i>上传图片
				
				</button>
            </div>
        </div>
      <div class="layui-form-item">
            <label class="layui-form-label">是否展示</label>
            <div class="layui-input-inline">
                <input type="radio" name="status" value="1" <if condition='$article.status neq 0'>checked="checked"</if> title="展示" />
                <input type="radio" name="status" value="0" <if condition='$article.status eq 0'>checked="checked"</if>  title="不展示" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">平台</label>
            <div class="layui-form-label" style="width:300px;">
                <select name="product" >
                    <notempty name="products">
                        <option>请选择平台</option>
                        <volist name="products" id="vo">
                            <option value="{$vo.product}" <notempty name="article.product"><eq
                                name="article.product" value="$vo.product">
                                selected=""</eq></notempty> > >{$vo.title}({$vo.product})</option>
                        </volist>
                    </notempty>
                </select>
            </div>
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label">分类</label>
            <div class="layui-form-label" style="width:300px;">
                <select name="cate_id" >
                    <notempty name="cates">
                        <option>请选择分类</option>
                        <volist name="cates" id="vo">
                            <option value="{$vo.id}"
                            <notempty name="article.cate_id"><eq
                                name="article.cate_id" value="$vo.id">
                                selected=""</eq></notempty> >{$vo.str}{$vo.name}</option>
                        </volist>
                    </notempty>
                </select>
            </div>
        </div>


        <notempty name="article">
            <input type="hidden" name="id" value="{$article.id}">
        </notempty>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="admin">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <a href="javascript:history.back(-1);" class="layui-btn layui-btn-primary">返回</a>
            </div>
        </div>

    </form>


    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/website/layui/layui.js"></script>
    <script>
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer,
                $ = layui.jquery,
                form = layui.form;
            var url = "adedit";
            var data = $('#admin').serialize();
            $(window).on('load', function () {
                form.on('submit(admin)', function (data) {
                    data = $('#admin').serialize();
                    $.post(url, data, function (result) {
                        if (result.code == 1) {
                            layer.alert(result.msg, function (index) {
                                location.href = result.url;
                            })
                        } else {
                            layer.msg(result.msg);
                        }
                    }, 'JSON');
                    return false;
                });
            });
        });
    </script>
	<script>
	layui.use('upload', function(){
	  var upload = layui.upload;
	   
	  //执行实例
	  var uploadInst = upload.render({
	    elem: '#btnimgsrc' //绑定元素
	    ,url: 'upload' //上传接口
	    ,done: function(res){
	      //上传完毕回调
	      if(res.code==1){
	    	  $("#imgsrc").val(res.fileurl);
	    	  $("#imgsrcshow").attr("src",res.fileurl);
	    	  $("#imgsrcshow").show();
	      }else{
	    	  alert(res.msg);
	      }
	    }
	    ,error: function(){
	      //请求异常回调
	    }
	  });
	});
	</script>

</block>
