<extend name="./Application/Adms/View/public.html"/>

<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <link rel="stylesheet" href="__PUBLIC__/website/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/website/font-awesome/css/font-awesome.min.css" media="all"/>

    <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;border:0">
        <div class="layui-btn-group demoTable">
            <a href="adedit.html" class="a_menu">
                <button class="layui-btn layui-btn-sm"><i class="fa fa-edit"> </i>添加新文章</button>
            </a>
        </div>
    </fieldset>
    <table class="layui-table" lay-even="" lay-skin="row" lay-size="sm">
        <colgroup>
            <col width="50">
            <col width="300">
            <col width="50">
            <col width="100">
            <col width="100">
            <col width="150">
            <col width="100">
            <col width="150">
            <col width="100">
        </colgroup>
        <thead>
        <tr>
            <th>编号</th>
            <th>标题</th>
            <th>分类</th>
            <th>url</th>
            <th>图片</th>
            <th>创建时间</th>
            <th>状态</th>
            <th>product</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        <volist name="articles" id="vo">
            <notempty name="articles">
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.title}</td>
                    <td>{$vo.catename}</td>
                    <td>
                        {$vo.url}
                    </td>
                    <td><img width=40 height=auto src="{$vo.imgsrc}" style="<empty name='vo.imgsrc'>display:none</empty>" /></td>
                    <td>{$vo.create_time|date="Y-m-d",###}</td>
                    <td><if condition="($vo.status	==	0)">
                           不展示
                            <elseif condition="$vo.status == 1"/>
                            展示
                        </if></td>
                    <td>{$vo.product}</td>
                    <td class="operation-menu">
                        <a href="adedit.html?id={$vo.id}" class="a_menu">
                            <button
                                    class="layui-btn layui-btn-xs"><i class="layui-icon"></i></button>
                        </a>
                        <a href="javascript:;">
                            <button class="layui-btn layui-btn-xs delete" id="{$vo.id}"><i class="layui-icon"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            </notempty>
        </volist>
        </tbody>
    </table>


    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/website/layui/layui.js"></script>
    <script>
        var message;
        layui.config({
            base: '__JS__/',
            version: '1.0.1'
        }).use(['app', 'message'], function () {
            var app = layui.app,
                $ = layui.jquery,
                layer = layui.layer;
            //将message设置为全局以便子页面调用
            message = layui.message;
            //主入口
            app.set({
                type: 'iframe'
            }).init();
        });
    </script>
    <script>
        $('.delete').click(function(){
            var id = $(this).attr('id');
            layer.confirm('确定要删除?', function(index) {
                var url = "addelete";
                var data = {id: id};
                $.post(url, data, function (result) {
                    if (result.code == 1) {
                        layer.alert(result.msg, function (index) {
                            location.href = result.url;
                        })
                    } else {
                        layer.msg(result.msg);
                    }
                }, 'JSON');
            })
        });
    </script>

</block>
