<extend name="./Application/Adms/View/public.html"/>

<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <link rel="stylesheet" href="__PUBLIC__/website/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/website/font-awesome/css/font-awesome.min.css" media="all"/>
	<style>
.layui-form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 180px;
    font-weight: 400;
    text-align: right;
}
</style>
    <form class="layui-form" id="admin">

        <div class="layui-form-item" style="display:none">
            <label class="layui-form-label">上级分类</label>
            <div class="layui-input-inline">
                <select name="pid" lay-filter="aihao">
                    <option value="0">作为顶级分类</option>
                    <volist name="cates" id="vo">
                    <option value="{$vo.id}"<notempty name="cate.pid"><eq name="cate.pid" value="$vo.id" >selected
                        =""
                            </eq><else /> <notempty name="pid"><eq name="pid" value="$vo.id">selected=""
                        </eq></notempty></notempty>>{$vo.str}{$vo.name}
                    </option>
                    </volist>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"
                       type="text" <notempty name="cate.name">value="{$cate.name}"</notempty>>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">APP字段名</label>
            <div class="layui-input-inline" >
                <input name="code" autocomplete="off" placeholder="" class="layui-input" type="text" <notempty
                    name="cate.code">value="{$cate.code}"</notempty>>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">初始化接口是否展示</label>
            <div class="layui-input-inline">
                <input type="radio" name="showinstart" value="1" <if condition='$cate.showinstart neq 0'>checked="checked"</if> title="展示" />
                <input type="radio" name="showinstart" value="0" <if condition='$cate.showinstart eq 0'>checked="checked"</if>  title="不展示" />
            </div>
        </div>


        <notempty name="cate">
        <input type="hidden" name="id" value="{$cate.id}">
        </notempty>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="admin">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button type="reset" onclick="javascript :history.back(-1);" class="layui-btn layui-btn-primary">返回</button>
            </div>
        </div>

    </form>


    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/website/layui/layui.js"></script>
    <script>
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer,
                $ = layui.jquery,
                form = layui.form;
            var url = "msgedit";
            var data = $('#admin').serialize();
            $(window).on('load', function () {
                form.on('submit(admin)', function (data) {
                    data = $('#admin').serialize();
                    $.post(url, data, function (result) {
                        if (result.code == 1) {
                            layer.alert(result.msg, function (index) {
                                location.href = result.url;
                            })
                        } else {
                            layer.msg(result.msg);
                        }
                    }, 'JSON');
                    return false;
                });
            });
        });
    </script>
</block>
