<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>
                </div>
                <div class="panel-body">
                    <div class="form-group search">
                        <form class="form-horizontal" action="{$action}" method="get">
                            关键词： <input  class="input-sm" type="text" name="keyword" value="{$get.keyword}" />
                            手机号： <input  class="input-sm" type="text" name="phone" value="{$get.phone}" />
                            <input class="btn btn-sm btn-info" type="submit" value="查询" />
                            <div style="float:right;"> <a class="btn btn-primary" href="add.html">添加平台推广用户</a></div>
                        </form>
                    </div>
                    <table style="table-layout: fixed;width: 100%;" class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead>
                        <tr>
                            <th width="40">uid</th>
                            <th width="80">昵称</th>
                            <th width="80">头像</th>
                            <th width="80">姓名</th>
                            <th width="85">手机号</th>
                            <th width="50">积分</th>
                            <th width="50">余额</th>
                            <th width="70">是否会员</th>
                            <th width="70">是否推广用户</th>
                            <th width="120">注册时间</th>
                            <th width="120">最后一次登录时间</th>
                            <th width="140">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <volist name="UserInfo['list']" id="vo">
                            <tr>
                                <td>{$vo.uid}</td>
                                <if condition="$vo['nickname']">
                                    <td>{$vo.nickname}</td>
                                <else/>
                                    <td>暂无</td>
                                </if>
                                <if condition="$vo['ufile']">
                                    <td>
                                        <a href="{$msgurl}{$vo['ufile']}" data-lightbox="image-165593" data-title="165593">
                                            <img src="{$msgurl}{$vo['ufile']}" width="50em" >
                                        </a>
                                    </td>
                                 <else/>
                                    <td>暂无</td>
                                </if>
                                <td>{$vo.name}</td>
                                <td>{$vo.phone}</td>
                                <td>{$vo.integral}</td>
                                <td>{$vo.balance}</td>
                                <if condition="$vo['is_vip'] eq 0">
                                    <td>否</td>
                                 <else/>
                                    <td>是</td>
                                </if>
                                <if condition="$vo['is_extension'] eq 0">
                                    <td>否</td>
                                <else/>
                                    <td>是</td>
                                </if>
                                <td>{:date('Y-m-d H:i:s',$vo.addtime)}</td>
                                <td>{:date('Y-m-d H:i:s',$vo.lastlogintime)}</td>
                                <td>
                                <if condition="$vo['is_extension'] eq 1">
                                    <a href="/Adms/User/edit?id={$vo['uid']}">修改推广用户</a> ||
                                </if>
                                    <a href="/Adms/User/vip?id={$vo['uid']}">设为会员</a> ||
                                    <a href="/Adms/User/del?id={$vo['uid']}">拉黑</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    {$Pages}
                </div>
            </div>
        </div><!--/col-->

    </div>

    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>

</block>