<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>
                </div>
                <div class="panel-body">
                    <div class="form-group search">
                        <form class="form-horizontal" action="{$action}" method="get">
                            关键词： <input  class="input-sm" type="text" name="keyword" value="{$get.keyword}" />
                            <input class="btn btn-sm btn-info" type="submit" value="查询" />
<!--                            <div style="float:right;"> <a class="btn btn-primary" href="add.html">添加</a></div>-->
                        </form>
                    </div>
                    <table style="table-layout: fixed;width: 100%;" class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead>
                        <tr>
                            <th width="30">id</th>
                            <th width="60">用户</th>
                            <th width="80">商品名称</th>
                            <th width="80">规格</th>
                            <th width="85">订单号</th>
                            <th width="40">总价</th>
                            <th width="45">所用积分</th>
                            <th width="40">数量</th>
                            <th width="45">状态</th>
                            <th width="70">收货人</th>
                            <th width="70">电话</th>
                            <th width="80">收货地址</th>
<!--                            <th width="140">操作</th>-->
                        </tr>
                        </thead>
                        <tbody>

                        <volist name="OrderInfo" id="vo">
                            <tr>
                                <td>{$vo.id}</td>
                                <volist name="UserInfo" id="vo2">
                                    <if condition="$vo2['uid'] eq $vo['uid']">
                                        <td>{$vo2.nickname}</td>
                                    </if>
                                </volist>
                                <volist name="GoodsInfo" id="vo3">
                                    <if condition="$vo3['id'] eq $vo['goods_id']">
                                        <td>{$vo3.name}</td>
                                    </if>
                                </volist>
                                <td>{$vo.normskwval},{$vo.normsggval}</td>
                                <td>{$vo.order}</td>
                                <td>{$vo.price}</td>
                                <td>{$vo.integral}</td>
                                <td>{$vo.num}</td>
                                <if condition="$vo['status'] eq 0">
                                    <td>待付款</td>
                                    <elseif condition="$vo['status'] eq 1" />
                                    <td>待收货</td>
                                    <else/>
                                        <td>已完成</td>
                                </if>
                                <td>{$vo.name}</td>
                                <td>{$vo.phone}</td>
                                <td>{$vo.address_info}{$vo.details_address}</td>
<!--                                <td>-->
<!--                                    <a href="edit.html?id={$vo.id}">修改</a> ||-->
<!--                                    <a href="del.html?id={$vo.id}">删除</a>-->
<!--                                </td>-->
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    {$Pages}
                </div>
            </div>
        </div><!--/col-->

    </div>

    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>

</block>