<footer>
	<ul>
		<li>
			<a href="/Home/Index/index">
				<em class="ico1"></em>
				<p>首页</p>
			</a>
		</li>
		<li>
			<a href="/Home/Class/index">
				<em class="ico2"></em>
				<p>分类</p>
			</a>
		</li>
		<if condition="$_SESSION['userInfo']">
			<li>
				<a href="/Home/News/index">
					<b class="xxnum">2</b>
					<em class="ico3"></em>
					<p>消息</p>
				</a>
			</li>
		<else/>
			<li>
				<a href="/Home/Login/index">
					<b class="xxnum">2</b>
					<em class="ico3"></em>
					<p>消息</p>
				</a>
			</li>
		</if>

		<if condition="$_SESSION['userInfo']">
			<li>
				<a href="/Home/Cart/index">
					<em class="ico4"></em>
					<p>购物车</p>
				</a>
			</li>
		<else/>
			<li>
				<a href="/Home/Login/index">
					<em class="ico4"></em>
					<p>购物车</p>
				</a>
			</li>
		</if>

		<if condition="$_SESSION['userInfo'] && $_SESSION['userInfo']['is_vip'] eq 1">
			<li>
				<a href="/Home/User/mine">
					<em class="ico5"></em>
					<p>我的</p>
				</a>
			</li>
		<elseif condition="$_SESSION['userInfo'] && $_SESSION['userInfo']['is_vip'] eq 0"/>
			<li>
				<a href="/Home/User/minenomember">
					<em class="ico5"></em>
					<p>我的</p>
				</a>
			</li>
		<elseif condition="!$_SESSION['userInfo'] && $_SESSION['userInfo']['is_vip'] eq 1"/>
			<li>
				<a href="/Home/Login/index">
					<em class="ico5"></em>
					<p>我的</p>
				</a>
			</li>
		<else/>
			<li>
				<a href="/Home/Login/index">
					<em class="ico5"></em>
					<p>我的</p>
				</a>
			</li>
		</if>

	</ul>
</footer>

<script>
	var curfootli=$("footer ul li");
	curfootli.each(function(){
		$(this).click(function(){
			$("footer ul li").removeClass("select");
			$(this).addClass("select");

			//这里获取需要跳转得连接，至于什么方式，根据自己结构跳转吧
			var _link=$(this).find("a").attr("href");
			// window.location.href = "_link";
			// alert(_link);
		})
	})
</script>