/*购物车样式*/
.cartwrapper{width:100%;overflow:hidden;}
.cartwrapper:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.cartwrapper:after{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:6.2rem;}
.cartbox{width:100%;overflow:hidden;}
.cartbox ul{width:100%;overflow:hidden;background:#fff;}
.cartbox ul li{width:100%;overflow:hidden;border-bottom:1px solid #ddd;position:relative;padding:0;}
.cartbox ul li.mui-table-view-cell:after{background:none;}
.cartbox ul li .mui-btn.mui-btn-red{width:4.528rem;font-size:0.906rem;text-align:center;padding:0 1.3rem;}
.cartbox ul li .contbf{width:100%;overflow:hidden;height:7.27rem;padding:0 0.755rem;} 
.cartbox ul li:last-child{border-bottom:none;}
.cartbox ul li .checkbtn{width:1.774rem;height:7.27rem;float:left;background:url(../images/checkico.png) no-repeat left center;background-size:1.019rem auto;cursor:pointer;}
.cartbox ul li .checkbtn.checked{width:1.774rem;height:7.27rem;float:left;background:url(../images/checkedico.png) no-repeat left center;background-size:1.019rem auto;cursor:pointer;}
.cartbox ul li a{float:right;overflow:hidden;width:16.547rem;height:7.27rem;position:relative;z-index:22;}
.cartbox ul li a .msgbox{width:16.547rem;height:7.27rem;position:relative;padding-left:5.9rem;}
.cartbox ul li a .msgbox .imgbox{width:5.472rem;height:5.66rem;position:absolute;left:0;top:0.755rem;}
.cartbox ul li a .msgbox .imgbox .ztbox{width:3.019rem;height:3.019rem;top:1.226rem;left:1.226rem;position:absolute;z-index:3;}
.cartbox ul li a .msgbox .imgbox .ztbox span{width:3.019rem;height:3.019rem;opacity: 0.4;border-radius:1.509rem;background:#000;display:block;top:0;position:absolute;left:0;z-index:55;}
.cartbox ul li a .msgbox .imgbox .ztbox h4{font-size:0.792rem;height:3.019rem;line-height:3.019rem;text-align:center;color:#fff;text-align:center;z-index:66;position:relative;}
.cartbox ul li a .msgbox .imgbox img{width:5.472rem;height:5.66rem;position:relative;z-index:1;}
.cartbox ul li a .msgbox .textbox{width:100%;overflow:hidden;padding:0.755rem 0;position:relative;height:7.27rem;}
.cartbox ul li a .msgbox .textbox h4{width:100%;font-size:0.792rem;color:#333;line-height:1.132rem;height:2.264rem;overflow:hidden;}
.cartbox ul li a .msgbox .textbox p{width:100%;font-size:0.679rem;color:#999;padding:0.4rem 0 0.4rem;white-space: nowrap;}
.cartbox ul li a .msgbox .textbox h3{width:100%;position:absolute;bottom:0.7rem;float:left;font-size:0.906rem;color:#FD514F;height:1.472rem;line-height:1.6rem;}
.cartbox ul li a .msgbox .textbox h3 b{font-size:0.604rem;font-weight:normal;}

.cartbox ul li .number{height:1.472rem;width:5.17rem;margin-top:0.25rem;border-radius:0.736rem;background:#F2F2F2;padding:0 0.3rem;position:absolute;bottom:0.65rem;right:0.755rem;z-index:99;}
.cartbox ul li .decrease{float:left;outline: 0;line-height: 1.4rem;height:1.472rem;width: 1.5rem;font-size: 1.2rem;background:none;color:#666;font-weight:normal;padding:0;}
.cartbox ul li input{float:left;line-height:1.472rem;height: 1.472rem;width: 1.5rem;text-align: center;font-size:0.792rem;margin: 0;border:none;background:none;color:#333;padding:0;}
.cartbox ul li .decrease.disabled{color: #ccc;}


.cartwrapper .bottomjs{width:100%;height:2.83rem;padding:0 0.755rem;background:#fff;position:fixed;bottom:2.95rem;z-index:100;}
.cartwrapper .bottomjs .allcheck{float:left;width:33.3%;height:2.83rem;padding-left:1.4rem;font-size:0.792rem;color:#666;line-height:2.83rem;background:url(../images/checkico.png) no-repeat left center;background-size:1.019rem auto;cursor:pointer;}
.cartwrapper .bottomjs .allcheck.checked{float:left;width:33.3%;height:2.83rem;padding-left:1.4rem;font-size:0.792rem;color:#666;line-height:2.83rem;background:url(../images/checkedico.png) no-repeat left center;background-size:1.019rem auto;cursor:pointer;}
.cartwrapper .bottomjs .allprice{float:left;width:33.3%;height:2.83rem;line-height:2.83rem;font-size:0.906rem;color:#FD514F;text-align:center;}
.cartwrapper .bottomjs .allprice b{font-size:0.604rem;}
.cartwrapper .bottomjs .czbtn{float:right;width:33.3%;height:2.83rem;}
.cartwrapper .bottomjs .czbtn .removebtn{float:right;display:none;width:100%;height:2.83rem;padding-right:1.17rem;text-align:right;line-height:2.83rem;font-size:0.906rem;color:#FD514F;cursor:pointer;}
.cartwrapper .bottomjs .czbtn .settlebtn{width:5.66rem;height:2.264rem;float:right;font-size:0.906rem;color:#fff;text-align:center;line-height:2.3rem;background:#FD514F;border-radius:1.132rem;margin-top:0.283rem;cursor:pointer;}

/*确认下单*/
.orderdetailbox .orderdt ul li .number{height:1.472rem;width:5.17rem;margin-top:0.25rem;border-radius:0.736rem;background:#F2F2F2;padding:0 0.3rem;position:absolute;bottom:0.4rem;right:0;z-index:99;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.orderdetailbox .orderdt ul li .decrease{float:left;outline: 0;line-height: 1.4rem;height:1.472rem;width: 1.5rem;font-size: 1.2rem;background:none;color:#666;font-weight:normal;padding:0;}
.orderdetailbox .orderdt ul li input{float:left;line-height:1.472rem;height: 1.472rem;width: 1.5rem;text-align: center;font-size:0.792rem;margin: 0;border:none;background:none;color:#333;padding:0;}
.orderdetailbox .orderdt ul li .decrease.disabled{color: #ccc;}
.orderdetailbox .orderdt ul li .bztext{float:left;width:100%;background:#F7F7F7;padding:0.453rem 0.415rem;margin-bottom:1.132rem; }
.orderdetailbox .orderdt ul li .bztext textarea{font-size:0.75rem;color:#333;line-height:0.943rem;border:none;width:100%;background:none;}
.orderdetailbox .orderdt ul li .bztitle{width:100%;height:2.264rem;line-height:2.264rem;font-size:0.792rem;color:#999;float:left;text-align:left;}
.orderdetailbox .orderdt ul.borderlinet{border-top:1px solid #ddd;margin-top:0.3rem;}
.orderdetailbox .orderdt ul li .topmsg{width:100%;height:2.264rem;}
.orderdetailbox .orderdt ul li p.jfbz{width:100%;text-align:right;font-size:0.679rem;color:#999;padding-bottom:0.755rem;}
.orderdetailbox .orderczbtn .totalpr{float:left;font-size:0.792rem;color:#333;line-height:1.9rem;}
.orderdetailbox .orderczbtn .totalpr .pricenum{font-size:1.0rem;color:#FD514F;font-weight:bolder;}
.orderdetailbox .orderczbtn .totalpr .pricenum b{font-size:0.604rem;}
.orderdetailbox .orderczbtn .totalpr .jfnum{font-size: 1.0rem;color: #FD514F;padding-right: 1.0rem;background: url(../images/jifico.png) no-repeat right center;background-size: 0.906rem;font-weight:bolder;}
.jfarmtip{width:12.453rem;height:2.264rem;position: fixed;top:50%;left:50%;margin-left:-6.227rem;margin-top:1.132rem;z-index:990;}
.jfarmtip span{position:absolute;width:12.453rem;height:2.264rem;display:block;background:#000;opacity: 0.4;border-radius: 0.189rem;z-index:66;top:0;}
.jfarmtip em{position:relative;width:12.453rem;height:2.264rem;display:block;z-index:77;line-height:2.264rem;text-align: center;font-size:0.792rem;color:#fff;}
.orderdetailbox .shouhuobox .adressdz{display:none;min-height:3.396rem;background: url(../images/rightarrow.png) no-repeat right center;background-size: 0.755rem;padding-right:1.415rem;}
.orderdetailbox .shouhuobox h3{height:3.396rem;line-height:3.396rem;font-size:0.792rem;color:#999;padding-right:1.415rem;background: url(../images/rightarrow.png) no-repeat right center;background-size: 0.755rem;}

.shadressmsg{width:100%;height:70%;position:fixed;z-index:1003;background:#fff;bottom:0;border-radius:0.189rem 0.189rem 0 0;overflow:hidden;display:none;}
.shadressmsg header.commenhead{position:relative;}
.shadressmsg .xinxibox{width:100%;overflow:hidden;}
.shadressmsg .xinxibox p{width:100%;border-bottom:1px solid #f2f2f2;height:2.075rem;padding:0 0.755rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.shadressmsg .xinxibox p span:first-child{float:left;width:23%;height:2.075rem;line-height:2.075rem;font-size:0.792rem;color:#999;}
.shadressmsg .xinxibox p span:last-child{float:right;width:77%;height:2.075rem;}
.shadressmsg .xinxibox p span:last-child input,.shadressmsg .xinxibox p span.ssqit input{height:2.0rem;color:#333;width:100%;border:none;font-size:0.792rem;padding:0;margin:0;}
.shadressmsg .xinxibox p span.ssqit{float:left;width:57%;height:2.075rem;}
.shadressmsg .xinxibox p span.ssqit input{text-align:left;}
.shadressmsg .xinxibox p span.dwbtn{float:right;width:20%;height:1.2rem;border-left:1px solid #ddd;font-size:0.792rem;color:#999;padding:0 0 0 0.755rem;background: url(../images/dwico.png) no-repeat right center;background-size: 0.906rem;line-height:1.2rem;margin-top:0.4rem;}
.shadressmsg header.commenhead a.okbtn{float:right;position:relative;}
.shadressmsg header.commenhead a.closebtn{background: url(../images/closebtntk.png) no-repeat center;background-size:1.038rem;text-indent:-99em;float:left;position:relative;}
.maskbg{width:100%;height:100%;position:fixed;background: #000;opacity: 0.4;z-index:1002;display:none;}

/*在线支付*/
.paymentbox{width:100%;height:100%;padding:0 0.755rem 1.698rem;background:#fff;}
.paymentbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.9rem;}
.paymentbox ul{width:100%;overflow:hidden;}
.paymentbox ul li{width:100%;overflow:hidden;border-bottom:1px solid #ddd;padding:0.755rem 0;}
.paymentbox ul li h4{width:100%;font-size:0.906rem;color:#999;padding-bottom:0.755rem;}
.paymentbox ul li h2{width:100%;overflow:hidden;height:1.472rem;}
.paymentbox ul li h2 span:first-child{float:left;width:25%;padding:0 0 0 2.264rem;line-height:1.472rem;font-size:0.906rem;color:#333;}
.paymentbox ul li h2 span.wximg{height:1.472rem;background: url(../images/wx.png) no-repeat left center;background-size:1.472rem;}
.paymentbox ul li h2 span.zfbimg{height:1.472rem;background: url(../images/zfb.png) no-repeat left center;background-size:1.472rem;}
.paymentbox ul li h2 span.yezf{padding-left:0;}
.paymentbox ul li h2 span.radiobox{float:right;width:20%;padding-right:1.509rem;font-size:0.792rem;color:#333;line-height:1.472rem;background: url(../images/checkico.png) no-repeat right center;background-size:1.019rem;text-align:right;cursor:pointer;}
.paymentbox ul li h2 span.radiobox.checked{background: url(../images/checkedico.png) no-repeat right center;background-size:1.019rem;}
.paymentbox ul li p{width:100%;text-align:right;font-size:0.679rem;color:#999;padding-top:0.3rem;padding-right:1.1rem;}

.paymentbox .okbtn{width:9.811rem;height:2.264rem;display:block;line-height:2.264rem;text-align:center;border-radius:1.132rem;color:#fff;font-size:0.981rem;margin:1.698rem auto 0;background:#FD514F;cursor:pointer;}

.paypassword{width:100%;overflow:hidden;height:70%;border-radius:0.189rem 0.189rem 0 0;background:#fff;position:fixed;bottom:0;z-index:1100;display:none;}
.paypassword h2{width:100%;font-size:0.792rem;color:#333;text-align:center;padding:0.755rem 0 0.981rem;position:relative;}
.paypassword h2 .closebtn{position:absolute;display:block;width:1.2rem;height:1.2rem;right:0.755rem;text-indent:-999em;background: url(../images/closebtntk.png) no-repeat center;background-size:1.038rem;top:0.67rem;}
.paypassword h4{width:18.868rem;margin:auto;height:2.642rem;border-radius:0.189rem;border:1px solid #ddd;display:flex;flex-direction: row;flex-wrap: nowrap;}
.paypassword h4 span{float:left;height:2.5rem;line-height:2.5rem;flex:6;border-right:1px solid #ddd;}
.paypassword h4 span:last-child{border-right:none;}
.paypassword h4 span input{width:100%;height:2.5rem;text-align:center;border:none;font-size:2.5rem;color:#333;}
.paypassword h3{width:18.868rem;margin:auto;text-align:right;font-size:0.679rem;color:#4FC6FD;padding-top:0.755rem;}
.paypassword ul{position:fixed;bottom:0;width:100%;}
.paypassword ul li{float:left;width:33.3%;border-top:1px solid #ddd;border-right:1px solid #ddd;height:2.83rem;line-height:2.83rem;font-size:1.208rem;color:#000;text-align:center;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.paypassword ul li:nth-child(3n){border-right:none;}
.paypassword ul li.nncont{background:#ddd;}
.paypassword ul li.delectbtn{background: url(../images/delectpw.png) no-repeat center #ddd;background-size:1.1rem;text-indent:-999em;}

/*支付结果*/
.paymentend{width:100%;height:100%;background:#fff;}
.paymentend:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.9rem;}
.paymentend .endimg{width:4.528rem;overflow:hidden;padding:1.698rem 0;margin:auto;}
.paymentend .endimg img{width:4.528rem;height:4.528rem;}
.paymentend .endimg p{width:100%;font-size:0.792rem;color:#333;padding-top:0.755rem;text-align:center;}
.paymentend h4{width:100%;height:2.415rem;padding:0 0.755rem;border-top:1px solid #ddd;line-height:2.415rem;}
.paymentend h4 a{display:block;width:100%;height:2.415rem;background: url(../images/rightarrow.png) no-repeat right center;background-size:0.755rem;}
.paymentend h4 a span:first-child{font-size:0.792rem;color:#999;}
.paymentend h4 a span.jfnum{font-size:0.906rem;color:#333;background: url(../images/jifico.png) no-repeat right center;background-size:0.925rem;padding:0 1.2rem 0 1.0rem;}