@charset "utf-8";
/*清楚默认样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0; padding:0;word-break: break-word; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
table{border-collapse:collapse; border-spacing:0; }
fieldset,img{border:0; }
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal; font-weight:normal; }
ol,ul{list-style:none; }
h1,h2,h3,h4,h5,h6{font-weight:normal; }
input,textarea,select{font-family:"Helvetica Neue", Helvetica, STHeiTi, sans-serif;font-weight:normal;border-radius:0;-webkit-appearance: none;word-break: break-all;outline:none}
textarea,select{outline: none;}
input{-webkit-tap-highlight-color:rgba(0,0,0,0);}
a,a:link,a:visited,a:active,a:focus{text-decoration: none !important;cursor:pointer;}
a{-webkit-tap-highlight-color: rgba(255, 255, 255, 0);-webkit-user-select: none;-moz-user-focus: none;-moz-user-select: none;}
a,a:hover,a:active,a:visited,a:link,a:focus{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline:none;background: none;text-decoration: none;}
img {-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color: rgba(255, 255, 255, 0);-webkit-user-select: none;-moz-user-focus: none;-moz-user-select: none;user-select: none;}
html,body{font-family:"Helvetica Neue", Helvetica, STHeiTi, sans-serif;min-height:100%;}
body{background:#f2f2f2;}
body.whitebg{background:#fff;}
img{display: block;border:none;}
button{ border:0;}
em{font-style:normal;}
.bs{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
select{direction: rtl;}
input::-webkit-input-placeholder{color:#999;}
input::-moz-placeholder{/* Mozilla Firefox 19+ */color:#999;}
input:-moz-placeholder{/* Mozilla Firefox 4 to 18 */color:#999;}
input:-ms-input-placeholder{/* Internet Explorer 10-11 */ color:#999;}
/*头部公用样式*/
header.commenhead{width:100%;height:2.642rem;position:fixed;top:0;left:0;z-index:1001;background:#fff;color:#333;text-align:center;line-height:2.642rem;font-size:0.981rem;border-bottom:1px solid #f2f2f2;}
header.commenhead a{width:2.642rem;display:block;height:2.642rem;font-size:0.868rem;color:#333;position:fixed;right:0.3rem;top:0;}
header.commenhead a.backico{background:url(../images/backico.png) no-repeat center;left:0;top:0;background-size:0.566rem auto;text-indent:-999em;}
header.commenhead .searchk{width:100%;height:2.642rem;padding:0.566rem 0.755rem 0.566rem 2.642rem;}
header.commenhead .searchk input{float:left;width: 100%;padding: 0 1.0rem 0 2.2rem;height: 1.698rem;line-height: 1.698rem;font-size: 0.792rem;color: #333;border-radius: 0.849rem;border: none;background: url(../images/idsearchico.png) no-repeat 0.8rem center #F2F2F2;background-size: 0.906rem auto;}

header.searchhead{width:100%;height:2.642rem;position:fixed;top:0;left:0;z-index:66;background:#fff;color:#333;text-align:center;line-height:2.642rem;font-size:0.981rem;border-bottom:none;}
header.searchhead a{display:block;height:2.642rem;position:fixed;top:0; }
header.searchhead a.searchico{width:2.6rem;line-height:2.9rem;font-size:0.792rem;color:#666;right:0; }
header.searchhead a.backico{width:2.2rem;background:url(../images/backico.png) no-repeat center;left:0;top:0;background-size:0.566rem auto;text-indent:-999em;}
header.searchhead .searchk{width:100%;height:2.642rem;padding:0.5rem 2.6rem 0.5rem 2.2rem;}
header.searchhead .searchk.searchend{padding:0.5rem 0.7rem 0.5rem 2.2rem;}
header.searchhead .searchk input{float:left;width: 100%;padding: 0 1.0rem 0 2.2rem;height: 1.698rem;line-height: 1.698rem;font-size: 0.792rem;color: #333;border-radius: 0.849rem;border: none;background: url(../images/idsearchico.png) no-repeat 0.8rem center #F2F2F2;background-size: 0.906rem auto;}

header.searchhead a.searchbtn{width:2.6rem;line-height:2.9rem;font-size:0.792rem;color:#FD514F;right:0;display:none;}
header.searchhead a.cancelbtn{width:2.6rem;line-height:2.9rem;font-size:0.792rem;color:#666;right:0; }
/*footer公用样式*/
footer{width:100%;height:2.83rem;background:#fff;position:fixed;bottom:0;z-index:1001;box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.1);}
footer ul{width:100%;height:2.83rem;padding:0 2%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
footer ul li{width:20%;float:left;height:2.83rem;}
footer ul li a{display:block;height:2.8rem;width:100%;cursor:pointer;position:relative;}
footer ul li p{width:100%;font-size:0.604rem;color:#999;text-align:center;}
footer ul li em{width:1.208rem;height:1.208rem;display:block;margin:0.45rem auto 0.1rem;}
footer ul li em.ico1{background:url(../images/homeico.png) no-repeat center;background-size:100%;}
footer ul li.select em.ico1{background:url(../images/homeselect.png) no-repeat center;background-size:100%;}
footer ul li em.ico2{background:url(../images/flico.png) no-repeat center;background-size:100%;}
footer ul li.select em.ico2{background:url(../images/flicoselect.png) no-repeat center;background-size:100%;}footer ul li em.ico1{background:url(../images/homeico.png) no-repeat center;background-size:100%;}
footer ul li em.ico3{background:url(../images/msgico.png) no-repeat center;background-size:100%;position:relative;z-index:3;}
footer ul li.select em.ico3{background:url(../images/msgicoselect.png) no-repeat center;background-size:100%;}footer ul li em.ico1{background:url(../images/homeico.png) no-repeat center;background-size:100%;}
footer ul li em.ico4{background:url(../images/gwcico.png) no-repeat center;background-size:100%;}
footer ul li.select em.ico4{background:url(../images/gwcicoselect.png) no-repeat center;background-size:100%;}footer ul li em.ico1{background:url(../images/homeico.png) no-repeat center;background-size:100%;}
footer ul li em.ico5{background:url(../images/mineico.png) no-repeat center;background-size:100%;}
footer ul li.select em.ico5{background:url(../images/minselect.png) no-repeat center;background-size:100%;}footer ul li em.ico1{background:url(../images/homeico.png) no-repeat center;background-size:100%;}
footer ul li.select p{color:#FD514F;}
footer ul li a .xxnum{width:0.8rem;height:0.8rem;display:block;font-size:0.45rem;background:#FD514F;border-radius:0.377rem;line-height:0.755rem;color:#fff;font-weight:normal;position:absolute;left:57%;top:-0.3rem;text-align:center;border:1px solid #fff;z-index:4;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}

/*正在加载*/
.jzmorebtn{width:100%;padding:0.7rem 0 0.943rem;font-size:0.792rem;color:#999;text-align:center;display:block;}


/*主题公用样式*/
.mainwrapper{width:100%;overflow:hidden;}
.mainwrapper:after{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.8rem;}

.mainwrappererj{width:100%;overflow:hidden;}
.mainwrappererj:after{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.8rem;}
.mainwrappererj:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.8rem;}


/*mui样式重写*/
.mui-popup-backdrop{z-index:8888;}
.mui-popup-button{color:#FD514F;}
.mui-popup-button.mui-popup-button-bold{font-weight:normal;}
.mui-picker{background:#fff;}
.mui-poppicker-header{background:#fff;}
.mui-btn-blue, .mui-btn-primary, input[type=submit]{background:#fff;border:1px solid #fff;color:#FD514F;}
.mui-poppicker-header .mui-btn{font-size:16px;}
.mui-btn, button, input[type=button], input[type=reset], input[type=submit]{border:none;}
.mui-switch.mui-active{border-color: #FD514F;background-color: #FD514F;}
.mui-switch .mui-switch-handle{box-shadow: 0 0 0;left:0;}
.mui-switch{background:#ddd;width:66px;}
.mui-switch.mui-active:before,.mui-switch:before{content: '';}

/*错误提示*/
.armtip{width:12.453rem;height:2.264rem;position: fixed;top:50%;left:50%;margin-left:-6.227rem;margin-top:-5.4rem;z-index:990;}
.armtip span{position:absolute;width:12.453rem;height:2.264rem;display:block;background:#000;opacity: 0.4;border-radius: 0.189rem;z-index:66;top:0;}
.armtip em{position:relative;width:12.453rem;height:2.264rem;display:block;z-index:77;line-height:2.264rem;text-align: center;font-size:0.792rem;color:#fff;}

/*缺省页样式*/
.nodata{width:100%;height:100%;background:#fff;position:fixed;z-index:44;}
.nodata .qsbox{width:100%;height:7.5rem;position:absolute;top:50%;margin-top:-6.5rem;}
.nodata img{width:9.0rem;height:auto;margin:auto;}
.nodata p{width:100%;text-align:center;font-size:0.85rem;color:#999;}

.mainwrappererj .nodata{position:relative;width:100%;overflow: hidden;padding: 0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;height:27.0rem;}

