/*首页样式*/
.indexbg{width:100%;background:url(../images/indexbg.png) no-repeat top #f2f2f2;background-size:100% auto;}
.seachbox{width:100%;overflow:hidden;padding:0.566rem 0.755rem;}
.seachbox p{width:100%;height:1.698rem;border-radius:0.849rem;background:#fff;border:none;position:relative;}
.seachbox p span{width:2.0rem;height:1.698rem;position:absolute;left:0;top:0;background:url(../images/idsearchico.png) no-repeat 0.7rem center;background-size:0.906rem auto;}
.seachbox p input{width:100%;padding:0 0.5rem 0 2.0rem;height:1.698rem;line-height:1.698rem;font-size:0.792rem;color:#333;border-radius:0.849rem;border:none;}
.seachbox p a{width:2.5rem;height:1.698rem;position:absolute;right:0;top:0;font-size:0.8rem;color:#333;line-height:1.698rem;border-left:1px solid #fd7a4e;text-align:center;cursor:pointer;}
.bannerbox{width:100%;padding:0 0.755rem;}
.bannerbox ul li{width:100%;overflow:hidden;border-radius:0.189rem;}
.bannerbox ul li img{width:100%;height:auto;}
.bannerbox .swiper-container-horizontal>.swiper-pagination-bullets, .bannerbox .swiper-pagination-custom, .bannerbox .swiper-pagination-fraction{bottom:5px;}
.bannerbox .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 3px;}
.bannerbox .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#FD514F;}
.bannerbox .swiper-pagination-bullet{width:0.43rem;height:0.43rem;background:#fff;opacity: 1.0;border-radius:100%;}

.classsifybox{width:100%;padding:0 0.755rem;overflow:hidden;}
.classsifybox .swiper2{width:100%;overflow:hidden;border-radius:0.189rem;background:#fff;margin-top:0.755rem;padding:0.2rem 0 1.1rem;}
.classsifybox ul li{width:100%;overflow:hidden;padding:0.4rem 2%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.classsifybox ul li .eachgy{width:25%;overflow:hidden;float:left;padding:0.2rem 0;}
.classsifybox ul li .eachgy a{width:100%;overflow:hidden;display:block;cursor:pointer;}
.classsifybox ul li .eachgy .imgbox{width:2.17rem;height:2.17rem;margin:auto;border-radius:100%;overflow:hidden;}
.classsifybox ul li .eachgy .imgbox img{width:2.17rem;height:2.17rem;}
.classsifybox ul li .eachgy p{width:90%;padding:0 5%;font-size:0.679rem;color:#666;text-align:center;height:1.2rem;line-height:1.2rem;white-space: nowrap;;text-overflow:ellipsis;overflow:hidden;}
.classsifybox .swiper-pagination-bullet{width:0.9rem;height:0.377rem;border-radius:0.189rem;opacity: 1.0;background:#EEEEEE;z-index:2;position:relative;}
.classsifybox .swiper-container-horizontal> .swiper-pagination-bullets .swiper-pagination-bullet{margin:0 -2px;}
.classsifybox .swiper-pagination-bullet-active{background:#FD514F;z-index:3;}

.rushbox{width:100%;padding:0 0.755rem;overflow:hidden;margin-top:0.755rem;}
.rushbox .rushboxnr{width:100%;padding:0 0.3rem;overflow:hidden;background:#fff;border-radius:0.189rem;}
.rushbox .rushboxnr h2{width:100%;padding:0.755rem 0.3rem;font-size:0.906rem;color:#333;position:relative;}
.rushbox .rushboxnr h2 span{position:absolute;left:4.4rem;height:1.3rem;line-height:1.3rem;font-size:0.679rem;color:#FD514F;background:url(../images/jgico.png) no-repeat left center;background-size:1.0rem auto;padding-left:1.3rem;}
.rushbox .rushboxnr h2 a{float:right;height:1.3rem;line-height:1.4rem;font-size:0.679rem;color:#999;}

.rushbox .rushboxnr ul{width:100%;overflow:hidden;}
.rushbox .rushboxnr ul li{width:5.472rem;overflow:hidden;float:left;margin:0 0.245rem 0.8rem;}
.rushbox .rushboxnr ul li a{width:100%;overflow:hidden;display:block;cursor:pointer;}
.rushbox .rushboxnr ul li .qgimg{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:100%;border:1px solid #ddd;height:5.66rem;}
.rushbox .rushboxnr ul li .qgimg img{width:100%;height:100%;}
.rushbox .rushboxnr ul li h4{width:100%;font-size:0.792rem;color:#333;padding:0.566rem 0 0.453rem;text-align:left;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.rushbox .rushboxnr ul li h5{width:100%;height:0.6rem;background:#FCB2B1;border-radius:0.377rem;position:relative;color:#fff;text-align:center;line-height:0.6rem;}
.rushbox .rushboxnr ul li h5 span{position: absolute;left:0;background:#FD514F;height:0.6rem;border-radius:0.377rem;top:0;z-index:1;}
.rushbox .rushboxnr ul li h5 b{position:absolute;width:100%;height:0.6rem;line-height:0.6rem;font-weight:normal;z-index:2;left:0;top:0;font-size:0.528rem;}
.rushbox .rushboxnr ul li h5 span.per20{width:20%;}
.rushbox .rushboxnr ul li h5 span.per75{width:75%;}
.rushbox .rushboxnr ul li h5 span.per35{width:35%;}
.rushbox .rushboxnr ul li p{width:100%;position:relative;padding:0.6rem 0 0;}
.rushbox .rushboxnr ul li p span:last-child{float:right;font-size:0.604rem;color:#999;text-decoration: line-through;}
.rushbox .rushboxnr ul li p span:first-child{float:left;color:#FD514F;font-size:0.906rem;}
.rushbox .rushboxnr ul li p span:first-child b{font-size:0.604rem;}


.integralbox{width:100%;padding:0 0.755rem;overflow:hidden;margin-top:0.755rem;}
.integralbox .integralboxnr{width:100%;padding:0 0.3rem;overflow:hidden;background:#fff;border-radius:0.189rem;}
.integralbox .integralboxnr h2{width:100%;padding:0.755rem 0.3rem;font-size:0.906rem;color:#333;position:relative;}
.integralbox .integralboxnr h2 a{float:right;height:1.3rem;line-height:1.4rem;font-size:0.679rem;color:#999;}

.integralbox .integralboxnr ul{width:100%;overflow:hidden;}
.integralbox .integralboxnr ul li{width:5.472rem;overflow:hidden;float:left;margin:0 0.245rem 0.9rem;}
.integralbox .integralboxnr ul li a{width:100%;overflow:hidden;display:block;cursor:pointer;}
.integralbox .integralboxnr ul li .qgimg{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:100%;border:1px solid #ddd;height:5.66rem;}
.integralbox .integralboxnr ul li .qgimg img{width:100%;height:100%;}
.integralbox .integralboxnr ul li h4{width:100%;font-size:0.792rem;color:#333;padding:0.566rem 0 0.1rem;text-align:left;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.integralbox .integralboxnr ul li h5{width:100%;position:relative;font-size:0.906rem;color:#FD514F;}
.integralbox .integralboxnr ul li h5 em{display:inline-block;width:1.2rem;height:1.3rem;background:url(../images/jifico.png) no-repeat center;background-size:0.92rem auto;text-indent:-999em;}
.integralbox .integralboxnr ul li h5 span b{font-size:0.604rem;font-weight:normal;}
.integralbox .integralboxnr ul li p{width:100%;height:1.0rem;line-height:1.0rem;}
.integralbox .integralboxnr ul li p span{font-size: 0.604rem;color: #999;text-decoration: line-through;height:1.0rem;line-height:1.0rem;float:left;}

.newproduct{width:100%;padding:0 0.4rem;overflow:hidden;}
.newproduct h2{width:100%;height:2.0rem;line-height:2.0rem;font-size:0.906rem;color:#666;text-align:center;position:relative;padding:0.5rem 0;min-height:100%;}
.newproduct h2 b{width:25%;height:1px;background:#bbb;display:block;position:absolute;}
.newproduct h2 b:first-child{left:10%;top:1.5rem;}
.newproduct h2 b:last-child{right:10%;top:1.5rem;}
.newproduct ul{width:100%;overflow:hidden;}
.newproduct ul li{float:left;width:46%;margin:0 2% 0.755rem;background:#fff;border-radius:0.189rem;}
.newproduct ul li a{width:100%;overflow:hidden;display:block;cursor:pointer;}
.newproduct ul li .xpimg{width:100%;height:auto;}
.newproduct ul li .xpimg img{width:100%;height:6.302rem;}
.newproduct ul li p{width:100%;padding:0.2rem 0.7rem 0;font-size:0.792rem;color:#333;line-height:1.132rem;height:2.464rem;overflow:hidden;}
.newproduct ul li h4{width:100%;height:1.3rem;font-size: 0.906rem;color: #FD514F;line-height:1.3rem;padding:0.3rem 0.7rem;}
.newproduct ul li h4 b{font-size:0.604rem;font-weight:normal;}


.storelist:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.storelist ul{margin-top:0.65rem;}
.storelist ul li h4 span{display:inline-block;position:relative;width:5.0rem;}
.storelist ul li h4 span em{display:inline-block;width:1.2rem;height:1.0rem;background:url(../images/jifico.png) no-repeat center;background-size:0.92rem auto;text-indent:-999em;position:absolute;top:0.1rem;}


.rushlist{width:100%;overflow:hidden;background:#fff;padding:0 0.755rem;}
.rushlist:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.rushlist p.timep{width:100%;font-size:0.679rem;color:#FD514F;background: url(../images/jgico.png) no-repeat left 0.65rem;background-size: 1.0rem auto;padding:0.755rem 0 0.2rem 1.3rem;}
.rushlist ul{width:100%;overflow:hidden;}
.rushlist ul li{float:left;width:100%;overflow:hidden;position:relative;border-bottom:1px solid #ddd;padding:0.755rem 0;}
.rushlist ul li:last-child{border-bottom:none;}
.rushlist ul li .imgbox{width:5.472rem;height:5.66rem;position:absolute;border:1px solid #ddd;}
.rushlist ul li .imgbox img{width:100%;height:5.66rem;}
.rushlist ul li .textbox{padding-left:6.2rem;width:100%;height:5.66rem;}
.rushlist ul li .textbox p{width:100%;font-size:0.792rem;line-height:1.132rem;overflow:hidden;height:2.264rem;}
.rushlist ul li .textbox h5{width:5.472rem;height: 0.6rem;background: #FCB2B1;border-radius: 0.377rem;position: relative;color: #fff;text-align: center;line-height: 0.6rem;margin-top:0.792rem;}
.rushlist ul li .textbox h5 b{position: absolute;width: 100%;height: 0.6rem;line-height: 0.6rem;font-weight: normal;z-index: 2;left: 0;top: 0;font-size: 0.528rem;}
.rushlist ul li .textbox h5 span{position: absolute;left: 0;background: #FD514F;height: 0.6rem;border-radius: 0.377rem;top: 0;z-index: 1;}
.rushlist ul li .textbox h5 span.per35{width:35%;}
.rushlist ul li .textbox h5 span.per75{width:75%;}
.rushlist ul li .textbox h5 span.per20{width:20%;}
.rushlist ul li .textbox h4{width: 50%;position: relative;padding: 1.1rem 0 0;overflow:hidden;}
.rushlist ul li .textbox h4 span:first-child {float: left;color: #FD514F;font-size: 0.906rem;}
.rushlist ul li .textbox h4 span:first-child b {font-size: 0.604rem;}
.rushlist ul li .textbox h4 span:last-child {float: left;font-size: 0.604rem;color: #999;text-decoration: line-through;margin-left:0.5rem;}
.rushlist ul li .textbox a{position:absolute;display:block;width:3.774rem;height:1.585rem;line-height:1.585rem;text-align:center;font-size:0.792rem;color:#fff;background:#FD514F;border-radius:0.792rem;right:0;bottom:0.755rem;cursor:pointer;}


.schistory{width:100%;overflow:hidden;background:#fff;padding:0 0.755rem;}
.schistory:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.schistory .taglist{width:100%;border-bottom:1px solid #ddd;padding:0.849rem 0 0.208rem;}
.schistory .taglist h2{width:100%;font-size:0.792rem;color:#333;height:1.5rem;margin-bottom:0.2rem;}
.schistory .taglist h2 a.delect{float:right;width:2.0rem;height:1.5rem;background:url(../images/clearico.png) no-repeat center;background-size:1.019rem auto;text-indent:-999em;}
.schistory .taglist p{width:100%;overflow:hidden;position:relative;height:4.6rem;margin-bottom:0.4rem;}
.schistory .taglist p a{float:left;width:auto;height:1.811rem;line-height:1.811rem;border-radius:0.943rem;background:#F2F2F2;font-size:0.679rem;color:#666;padding:0 0.698rem;margin:0 0.566rem 0.566rem 0;}
.schistory .taglist p span{display:block;width:2.0rem;height:1.5rem;background:url(../images/morejtico.png) no-repeat center;background-size:1.019rem auto;bottom:0.566rem;right:0;position:absolute;text-indent:-999em;cursor:pointer;}
.schistory .taglist p span.downico{display:block;width:2.0rem;height:1.5rem;background:url(../images/morejticodt.png) no-repeat center;background-size:1.019rem auto;bottom:0.566rem;right:0;position:absolute;text-indent:-999em;cursor:pointer;}
.schistory .taglist:last-child{border-bottom:none;}

.retrivalbox{width:100%;height:100%;background:#fff;position:fixed;background:#fff;top:0;overflow:scroll;display:none;}
.retrivalbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.retrivalbox ul{width:100%;overflow:hidden;}
.retrivalbox ul li{width:100%;height:2.113rem;border-bottom:1px solid #ddd;line-height:2.113rem;padding:0 0.755rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;font-size:0.792rem;}

/*分类样式*/
.seachbox.fixed{position:fixed;background:#fff;}
.seachbox p,.seachbox p input{background:#F2F2F2;}
.calssifyox ul.productnav{width:5.66rem;overflow:scroll;position:fixed;height:30rem;left:0;top:2.642rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;background:#f2f2f2;padding:0;}
.calssifyox ul.productnav li{width:100%;height:2.30rem;float:left;cursor:pointer;padding:0;margin:0;}
.calssifyox ul.productnav li a{display:block;width:100%;height:2.30rem;line-height:2.30rem;text-align:center;font-size:0.792rem;color:#333;position:relative;margin:0;}
.calssifyox ul.productnav li a b{display:block;width:0.151rem;height:1.019rem;position:absolute;left:0;top:0.679rem;background:#FD514F;display:none;}
.calssifyox ul.productnav li.select a{background:#fff;font-size:0.906rem;color:#FD514F;cursor:pointer;}
.calssifyox ul.productnav li.select a b{display:block;}

.calssifyox ul{width:14.4rem;overflow:hidden;padding:0 0.25rem;float:right;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.calssifyox ul li{width:100%;overflow:hidden;}
.calssifyox ul li a{float:left;width:3.962rem;overflow:hidden;display:block;margin:0.3rem 0.33rem 0.5rem;}
.calssifyox ul li a .imgbox{width:100%;width:3.962rem;}
.calssifyox ul li a .imgbox img{width:3.962rem;height:3.962rem;border:1px solid #f2f2f2;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.calssifyox ul li a p{width:100%;font-size:0.679rem;color:#333;padding:0.377rem 0 .3rem;white-space: nowrap;overflow:hidden;}
.calssifyox ul li a h4{width:100%;font-size:0.906rem;color:#FD514F;}
.calssifyox ul li a h4 b{font-size:0.604rem;}


/*消息样式*/
.newsbox{width:100%;overflow:hidden;padding:0 0.849rem 0.2rem;background:#fff;}
.newsbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.8rem;}
.newsbox ul{width:100%;overflow:hidden;}
.newsbox ul li{width:100%;overflow:hidden;}
.newsbox ul li a{display:block;width:100%;overflow:hidden;border-bottom:1px solid #f2f2f2;position:relative;}
.newsbox ul li a .imgbox{width:3.019rem;height:3.019rem;position:absolute;left:0;top:0.755rem;}
.newsbox ul li a .imgbox b{width:0.453rem;height:0.453rem;background:#FD514F;border-radius:100%;display:block;position:absolute;left:2.6rem;top:0.32rem;}
.newsbox ul li a .imgbox img{width:100%;height:100%;}
.newsbox ul li a .textbox{width:100%;padding-left:3.5rem;position:relative;height:4.528rem;}
.newsbox ul li a .textbox h4{width:100%;font-size:0.792rem;padding:1.4rem 0 0.5rem;color:#333;}
.newsbox ul li a .textbox p{width:100%;font-size:0.679rem;padding:0;color:#666;}
.newsbox ul li a .textbox h5{font-size:0.679rem;color:#999;position:absolute;right:0;top:1.887rem;}
.newsbox ul li:last-child a{border-bottom:none;}

/*优惠促销*/
.promotionbox{width:100%;overflow:hidden;padding:0 0.849rem 0.2rem;}
.promotionbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.8rem;}
.promotionbox h2{width:100%;font-size:0.679rem;color:#999;padding:0.755rem 0;text-align:center;}
.promotionbox ul{width:100%;overflow:hidden;}
.promotionbox ul li{width:100%;overflow:hidden;border-radius:0.189rem;margin-bottom:0.7rem;}
.promotionbox ul li a{display:block;width:100%;overflow:hidden;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:0.755rem;background:#fff;}
.promotionbox ul li a h3{width:100%;font-size:0.792rem;color:#333;white-space: nowrap;text-overflow:ellipsis;padding-bottom:0.6rem;}
.promotionbox ul li a .btbox{width:100%;overflow:hidden;position:relative;}
.promotionbox ul li a .btbox .imgbox{width:4.151rem;height:4.34rem;position:absolute;left:0;}
.promotionbox ul li a .btbox .imgbox img{width:4.151rem;height:4.34rem;}
.promotionbox ul li a .btbox .textbox{width:100%;padding:0 0 0 4.6rem;height:4.34rem;}
.promotionbox ul li a .btbox .textbox h4{width:100%;font-size:0.679rem;color:#333;line-height:1.132rem;height:2.264rem;overflow:hidden;margin-bottom:1.2rem;}
.promotionbox ul li a .btbox .textbox p{width:100%;overflow:hidden;}
.promotionbox ul li a .btbox .textbox p span:first-child{font-size:0.906rem;color:#FD514F;float:left;}
.promotionbox ul li a .btbox .textbox p span:first-child b{font-size:0.604rem;}
.promotionbox ul li a .btbox .textbox p span:last-child{font-size:0.679rem;color:#999;float:left;text-decoration: line-through;margin-left:0.755rem;}

/*交易通知*/
.notifibox{width:100%;overflow:hidden;padding:0 0.849rem 0.2rem;}
.notifibox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.8rem;}
.notifibox h2{width:100%;font-size:0.679rem;color:#999;padding:0.755rem 0;text-align:center;}
.notifibox ul{width:100%;overflow:hidden;}
.notifibox ul li{width:100%;overflow:hidden;border-radius:0.189rem;margin-bottom:0.7rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:0.755rem;background:#fff;}
.notifibox ul li h3{width:100%;font-size:0.792rem;color:#333;white-space: nowrap;text-overflow:ellipsis;padding:0 4.0rem 0.6rem 0;position:relative;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.notifibox ul li h3 a{display:block;font-size:0.792rem;color:#4FC6FD;position:absolute;right:0;top:0;width:4.0rem;height:1.5rem;text-align:right;}
.notifibox ul li .btbox{width:100%;overflow:hidden;position:relative;}
.notifibox ul li .btbox .imgbox{width:4.151rem;height:4.34rem;position:absolute;left:0;}
.notifibox ul li .btbox .imgbox img{width:4.151rem;height:4.34rem;}
.notifibox ul li .btbox .textbox{width:100%;padding:0 0 0 4.6rem;height:4.34rem;}
.notifibox ul li .btbox .textbox h4{width:100%;font-size:0.679rem;color:#333;line-height:1.132rem;height:2.264rem;overflow:hidden;margin-bottom:1.2rem;}
.notifibox ul li .btbox .textbox p{width:100%;overflow:hidden;}
.notifibox ul li .btbox .textbox p span:first-child{font-size:0.906rem;color:#333;float:left;}
.notifibox ul li .btbox .textbox p span:first-child b{font-size:0.604rem;}
.notifibox ul li .btbox .textbox p span:last-child{font-size:0.679rem;color:#999;float:right;}
.notifibox ul li .btbox .textbox p span.red{color:#FD514F;}

/*订单详情*/
.orderdetailbox{width:100%;overflow:hidden;padding:0 0 0.2rem;}
.orderdetailbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.orderdetailbox:after{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:3.396rem;}
.orderdetailbox h2.state{width:100%;height:1.811rem;background:#FD514F;line-height:1.811rem;font-size:0.792rem;color:#fff;padding:0 0.755rem;}

.orderdetailbox .shouhuobox{width:100%;padding:0 0.755rem 0 2.1rem;overflow:hidden;background:url(../images/dwico.png) no-repeat 0.8rem center #fff;background-size:0.906rem auto;min-height:3.396rem;}
.orderdetailbox .shouhuobox h4{width:100%;font-size:0.792rem;color:#333;padding:0.5rem 0 0.2rem;line-height:1.0rem;}
.orderdetailbox .shouhuobox p{width:100%;font-size:0.679rem;color:#333;padding:0;line-height:1.4rem;}

.orderdetailbox .orderdt{width:100%;padding:0 0.755rem;overflow:hidden;background:#fff;margin:0.755rem 0 0 0;}
.orderdetailbox .orderdt h2{width:100%;overflow:hidden;padding:0.90rem 0 0;}
.orderdetailbox .orderdt h2 span{float:left;font-size:0.679rem; color:#666;height:1.05rem;line-height:1.05rem;}
.orderdetailbox .orderdt h2 a{float:right;font-size:0.792rem; color:#333;padding-right:1.6rem;background:url(../images/kfzx.png) no-repeat right center;background-size:1.019rem auto;cursor:pointer;height:1.05rem;line-height:1.05rem;}
.orderdetailbox .orderdt .speachbox{width:100%;overflow:hidden;border-bottom:1px solid #ddd;}
.orderdetailbox .orderdt .speachbox:last-child{border-bottom:none;}
.orderdetailbox .orderprt{width:100%;overflow:hidden;position:relative;height:auto;padding:0.4rem 0 0.4rem;border-bottom:none;}
.orderdetailbox .orderprt a{width:100%;overflow:hidden;height:5.8rem;padding:0;display:block;}
.orderdetailbox .orderprt .imgbox{position:absolute;left:0;top:0.4rem;width:5.472rem;height:5.66rem;border:1px solid #efefef;}
.orderdetailbox .orderprt .imgbox img{width:100%;height:100%;}
.orderdetailbox .orderprt .textbox{width:100%;overflow:hidden;padding:0 0 0 6.0rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.orderdetailbox .orderprt .textbox h4{width:100%;font-size:0.679rem;color:#333;line-height:1.132rem;}
.orderdetailbox .orderprt .textbox p{width:100%;padding:0.528rem 0 0.868rem;font-size:0.679rem;color:#999;overflow:hidden;}
.orderdetailbox .orderprt .textbox p span.kwmsg{float:left;width:80%;text-align: left;}
.orderdetailbox .orderprt .textbox p span.shuliang{float:right;width:20%;text-align:right;}
.orderdetailbox .orderprt .textbox h3{width:100%;font-size:0.906rem;color:#FD514F;overflow:hidden;}
.orderdetailbox .orderprt .textbox h3 b{font-size:0.679rem;}
.orderdetailbox .orderprt .textbox h3 span.yjnum{font-size:0.604rem;color:#999;text-decoration: line-through;padding-left:0.7rem;}
.orderdetailbox .orderprt .textbox h3 span.jfnum{font-size:0.906rem;color:#FD514F;padding-right:1.0rem;background: url(../images/jifico.png) no-repeat right center;background-size:0.906rem;}
.orderdetailbox .orderdt ul{width:100%;overflow:hidden;}
.orderdetailbox .orderdt ul li{width:100%;float:left;height:auto;border-bottom:1px solid #ddd;position:relative;}
.orderdetailbox .orderdt ul li span:first-child{width:50%;height:2.264rem;line-height:2.264rem;font-size:0.792rem;color:#999;float:left;text-align:left;}
.orderdetailbox .orderdt ul li span:last-child{width:50%;height:2.264rem;line-height:2.264rem;font-size:0.792rem;color:#333;float:right;text-align: right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.orderdetailbox .orderdt ul li:last-child{border-bottom:none;}

.orderdetailbox .orderczbtn{position:fixed;width:100%;height:3.396rem;padding:0.83rem 0.755rem;bottom:0;background:#fff;}
.orderdetailbox .orderczbtn a{float:right;width:4.528rem;height:1.736rem;line-height:1.736rem;font-size:0.792rem;border-radius:0.868rem;text-align:center;margin-left:0.755rem;cursor:pointer;}
.orderdetailbox .orderczbtn a.redbtn{background:#FD514F;border:1px solid #FD514F;color:#fff;}
.orderdetailbox .orderczbtn a.whitebtn{background:#fff;border:1px solid #999;color:#333;}



/*查看物流*/
.logistbox{width:100%;overflow:hidden;padding:0 0.755rem;background:#fff;}
.logistbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.logistbox .logistdt{width:100%;overflow:hidden;position:relative;height:7.3rem;padding:0.755rem 0 0.755rem 6.2rem;}
.logistbox .imgbox{position:absolute;left:0;top:0.755rem;width:5.472rem;height:5.66rem;border:1px solid #efefef;}
.logistbox .imgbox img{width:5.472rem;height:5.66rem;}
.logistbox .textbox{width:100%;overflow:hidden;}
.logistbox .textbox h5{width:100%;font-size:0.679rem;color:#999;line-height:1.132rem;margin-top:0.6rem;}
.logistbox .textbox p{width:100%;padding:0 0 0.28rem;overflow:hidden;}
.logistbox .textbox p span:first-child{float:left;font-size:0.792rem;color:#999;width:32%;}
.logistbox .textbox p span:last-child{float:right;font-size:0.792rem;color:#333;width:67%;text-align: left;}


/*商品详情*/
.prodtbox{width:100%;overflow:hidden;}
.prodtbox .productbanner{width:100%;overflow:hidden;position:relative;height:21.15rem;}
.prodtbox .productbanner ul li img{width:100%;height:21.15rem;}
.prodtbox .productbanner ul li .videobox{width:100%;height:21.15rem;background:#000;}
.prodtbox .productbanner ul li .video_btn{width: 2.264rem; height: 2.264rem;position: absolute;left: 0;top: 0;bottom: 0;right: 0;margin: auto;}
.prodtbox .productbanner ul li .video_btn img{width:100%;height:100%;}
.prodtbox .productbanner ul li .vplayinside{width:100%;height:21.15rem;}
.prodtbox .prodttop{width:100%;height:1.698rem;top:0.774rem;position:absolute;padding:0 0.566rem;z-index:99999;}
.prodtbox .prodttop .backico{width:1.698rem;height:1.698rem;float:left;background:url(../images/fh2.png) no-repeat;background-size:100%;text-indent:-999em;}
.prodtbox .prodttop .sixinico{width:1.698rem;height:1.698rem;float:right;background:url(../images/xx2.png) no-repeat;background-size:100%;position:relative;}
.prodtbox .prodttop .sixinico b{position:absolute;width:0.7rem;height:0.7rem;font-size:0.453rem;color:#fff;border-radius:100%;display:block;line-height:0.755rem;background:#FD514F;text-align:center;font-weight:normal;left:0.8rem;top:0.1rem;}

.prodtbox .dtmsg{width:100%;background:#fff;overflow:hidden;padding:0 0.755rem;}
.prodtbox .dtmsg h2{width:100%;padding:0.736rem 0 0.4rem;height:1.4rem;}
.prodtbox .dtmsg h2 span.xjsp{float:left;font-size:1.358rem;color:#FD514F;height:1.4rem;line-height:1.4rem;}
.prodtbox .dtmsg h2 span.xjsp b{font-size:0.906rem;font-weight:normal;}
.prodtbox .dtmsg h2 span.jifensp{float:left;font-size:1.358rem;color:#333;height:1.4rem;background:url(../images/jifico.png) no-repeat right center;background-size:0.925rem;padding-right:1.1rem;line-height:1.4rem;}
.prodtbox .dtmsg h2 span.yjsp{float:left;font-size:0.906rem;color:#999;text-decoration: line-through;margin-left:0.9rem;height:1.4rem;line-height:1.4rem;}
.prodtbox .dtmsg h3{width:100%;font-size:0.906rem;color:#333;line-height:1.358rem;}
.prodtbox .dtmsg h4{width:100%;font-size:0.679rem;color:#999;height:1.208rem;line-height:1.38rem;padding-top:0.604rem;}
.prodtbox .dtmsg h4 em{float:left;width:2.83rem;height:1.208rem;line-height:1.38rem;text-align:center;background:#FCA84E;border-radius:0.604rem;color:#fff;margin-right:0.755rem;}
.prodtbox .dtmsg p{width:100%;font-size:0.792rem;color:#999;line-height:1.132rem;padding:0.736rem 0 0.849rem;}

.prodtbox .gugebox{width:100%;background:#fff;overflow:hidden;padding:0 0.755rem;margin-top:0.755rem;}
.prodtbox .gugebox ul{width:100%;overflow:hidden;}
.prodtbox .gugebox ul li{float:left;width:100%;overflow:hidden;border-bottom:1px solid #ddd;padding-bottom:0.4rem;}
.prodtbox .gugebox ul li h4{width:100%;padding:0.755rem 0 0.5rem;font-size:0.792rem;color:#999;}
.prodtbox .gugebox ul li p{width:100%;overflow:hidden;}
.prodtbox .gugebox ul li p a{float:left;height:1.472rem;line-height:1.472rem;padding:0 0.755rem;font-size:0.792rem;border:1px solid #ddd;border-radius:0.736rem;margin:0 1.0rem 0.7rem 0;cursor:pointer;}
.prodtbox .gugebox ul li p a.select{color:#FD514F;border:1px solid #FD514F;}
.prodtbox .gugebox ul li:last-child{border-bottom:none;}

.prodtbox .xiangqingbox{width:100%;background:#fff;overflow:hidden;padding:0 0.755rem;margin-top:0.755rem;}
.prodtbox .xiangqingbox h4{width:100%;padding:0.755rem 0;font-size:0.792rem;color:#333;}
.prodtbox .xiangqingbox ul{width:100%;overflow:hidden;padding:0.5rem 0.755rem;background:#F7F7F7;}
.prodtbox .xiangqingbox ul li{width:100%;float:left;overflow:hidden;padding:0.4rem 0;}
.prodtbox .xiangqingbox ul li span{float:left;font-size:0.792rem;color:#999;width:25%;}
.prodtbox .xiangqingbox ul li span:last-child{float:left;font-size:0.792rem;color:#333;width:75%;}
.prodtbox .productimg{width:100%;overflow:hidden;background:#fff;}
.prodtbox .productimg img{width:100%;height:auto;margin:0.6rem 0;}

.prodtbox .fahuosm{width:100%;background:#fff;overflow:hidden;padding:0 0.755rem 1.0rem;margin-bottom:3.4rem;}
.prodtbox .fahuosm h2{width:100%;padding:0.35rem 0 0.7rem;font-size:0.792rem;color:#666;text-align:center;}
.prodtbox .fahuosm p{width:100%;font-size:0.679rem;color:#666;line-height:1.132rem;}

.prodtbox .bottombtnpt{position:fixed;bottom:0;height:2.83rem;background:#fff;width:100%;}
.prodtbox .bottombtnpt .buybtn{float:right;width:30%;height:2.83rem;line-height:2.83rem;text-align:center;color:#fff;font-size:0.906rem;background:#FD514F;}
.prodtbox .bottombtnpt .addgwcbtn{float:left;width:30%;height:2.83rem;line-height:2.83rem;text-align:center;color:#fff;font-size:0.906rem;background:#FCB2B1;}

.prodtbox .bottombtnpt .kefubtn{float:left;width:20%;height:2.83rem;}
.prodtbox .bottombtnpt a{cursor:pointer;}
.prodtbox .bottombtnpt .kefubtn span{width:1.415rem;height:1.415rem;display:block;margin:0.3rem auto 0;background:url(../images/kf.png) no-repeat right center;background-size:1.208rem;position:relative;}
.prodtbox .bottombtnpt .kefubtn span b{position: absolute;width: 0.7rem;height: 0.7rem;font-size: 0.453rem;color: #fff;border-radius: 100%;display: block;line-height: 0.755rem;background: #FD514F;text-align: center;font-weight: normal;left: 1.0rem;top: -0.1rem;}
.prodtbox .bottombtnpt .kefubtn p{width:100%;font-size:0.604rem;color:#333;text-align:center;}
.prodtbox .bottombtnpt .gwcbtn{float:left;width:20%;height:2.83rem;}
.prodtbox .bottombtnpt .gwcbtn span{width:1.415rem;height:1.415rem;display:block;margin:0.3rem auto 0;background:url(../images/gwcdt.png) no-repeat center;background-size:1.208rem;}
.prodtbox .bottombtnpt .gwcbtn p{width:100%;font-size:0.604rem;color:#333;text-align:center;}

.productbanner .swiper-pagination{width:1.698rem;height:1.698rem;border-radius:0.849rem;background:#000;opacity: 0.5;position:absolute;left:88%;color:#fff;font-size:0.792rem;line-height:1.75rem;float:right;}
