/*登陆注册样式样式*/
.loginbg{width:100%;height:100%;background:url(../images/dlbg.jpg) no-repeat;background-size:100% 100%;}
.loginheader{width:100%;height:2.642rem;color:#fff;text-align:center;line-height:2.642rem;font-size:0.981rem;border-bottom:1px solid #feebeb;}
.loginheader a{width:2.642rem;display:block;height:2.642rem;font-size:0.868rem;color:#fff;position:fixed;right:0.3rem;top:0;}

.loginbox{width:80%;overflow:hidden;border-radius:0.189rem;background:#fff;margin:auto;padding:0.7rem 0.755rem 0.7rem;margin-top:6.736rem;}
.loginbox p{width:100%;height:2.302rem;border-bottom:1px solid #eee;}
.loginbox p input{width:100%;font-size:0.792rem;border:none;height:2.3rem;line-height:2.3rem;color:#333;}
.loginbox p.yzmp input{width:60%;}
.loginbox p.yzmp a{width:35%;float:right;font-size:0.792rem;color:#FD514F;height:2.3rem;line-height:2.3rem;text-align:right;}
.loginbox p.yzmp em{width:35%;float:right;font-size:0.792rem;color:#999999;height:2.3rem;line-height:2.3rem;text-align:right;}

.loginbox .subbtn{width:9.811rem;height:2.264rem;display:block;background:#FD514F;text-align:center;line-height:2.264rem;color:#fff;font-size:0.981rem;border-radius:1.132rem;margin:1.6rem auto 0.3rem;cursor:pointer;}

.otherlogin{width:80%;overflow:hidden;margin:34% auto 0;}
.otherlogin h2{width:100%;height:2.5rem;font-size:0.906rem;color:#fff;text-align:center;line-height:2.5rem;position:relative;}
.otherlogin h2 b:first-child{width:30%;left:0;top:1.25rem;height:1px;display:block;position:absolute;background:#fff;opacity: 0.65;}
.otherlogin h2 b:last-child{width:30%;right:0;top:1.25rem;height:1px;display:block;position:absolute;background:#fff;opacity: 0.65;}
.otherlogin p{width:100%;height:2.057rem;text-align:center;margin-top:0.8rem;}
.otherlogin p a{height:2.057rem;width:2.057rem;display:inline-block;padding:0 1.2rem;}
.otherlogin p a img{width:100%;height:100%;}
.loginbox h4{width:100%;height:2.0rem;line-height:2.0rem;position:relative;}
.loginbox h4 span{position:absolute;left:0;display:block;width:1.132rem;height:2.0rem;}
.loginbox h4 span input.checked{width:1.132rem;height:2.0rem;border:none;background:url(../images/dlchecked.png) no-repeat center;background-size:0.8rem auto;}
.loginbox h4 span input{width:1.132rem;height:2.0rem;border:none;background:url(../images/dlcheck.png) no-repeat center;background-size:0.8rem auto;}
.loginbox h4 span em{position:absolute;display:block;width:1.132rem;height:2.0rem;}
.loginbox h4 label{width:100%;float:left;padding-left:1.23rem;height:2.0rem;line-height:2.2rem;font-size:0.679rem;color:#666666;}
.loginbox h4 label em{color:#FD514F;}

/*登陆绑定样式*/
.bindbox{width:100%;overflow:hidden;background:#fff;margin:auto;padding:0.7rem 1.7rem 1.3rem;}
.bindbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.bindbox p{width:100%;height:2.302rem;border-bottom:1px solid #eee;}
.bindbox p input{width:100%;font-size:0.792rem;border:none;height:2.3rem;line-height:2.3rem;color:#333;}
.bindbox p.yzmp input{width:60%;}
.bindbox p.yzmp a{width:35%;float:right;font-size:0.792rem;color:#FD514F;height:2.3rem;line-height:2.3rem;text-align:right;}
.bindbox .subbtn{width:9.811rem;height:2.264rem;display:block;background:#FD514F;text-align:center;line-height:2.264rem;color:#fff;font-size:0.981rem;border-radius:1.132rem;margin:1.6rem auto 0.3rem;cursor:pointer;}



