/*客服*/
.customerbox{width:100%;height:100%;padding:0 0.755rem;}
.customerbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.9rem;}
.customerbox:after{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:3.0rem;}
.customerbox h2{width:100%;font-size:0.792rem;color:#999;padding:1.0rem 0;text-align:center;}
.customerbox .kfbox{width:100%;overflow:hidden;padding:0 0 0 2.8rem;position:relative;min-height:2.264rem;margin-bottom:1.038rem;} 
.customerbox .kfbox .headbox{width:2.264rem;height:2.264rem;position:absolute;left:0;top:0;}
.customerbox .kfbox .headbox img{width:100%;height:100%;}
.customerbox .kfbox .textbox{float:left;max-width:80%;padding-left:0.4rem;position:relative;}
.customerbox .kfbox .textbox b{position:absolute;width:0.377rem;height:0.943rem;display:block;background:url(../images/kfleft1.png) no-repeat left center;background-size:100%;left:0;top:0.7rem;}
.customerbox .kfbox .textbox p{width:auto;background:#fff;border-radius:0.189rem;padding:0.5rem 1.0rem 0.5rem 0.377rem ;font-size:0.906rem;line-height:1.2rem;color:#333;margin-top:0.1rem;}
.customerbox .mylybox{width:100%;overflow:hidden;padding:0 2.8rem 0 0;position:relative;min-height:2.264rem;margin-bottom:1.038rem;}
.customerbox .mylybox .headbox{width:2.264rem;height:2.264rem;position:absolute;right:0;top:0;}
.customerbox .mylybox .headbox img{width:100%;height:100%;}

.customerbox .mylybox .textbox{float:right;max-width:80%;padding-right:0.4rem;position:relative;}
.customerbox .mylybox .textbox b{position:absolute;width:0.377rem;height:0.943rem;display:block;background:url(../images/kfjtrigt2.png) no-repeat left center;background-size:100%;right:0;top:0.7rem;}
.customerbox .mylybox .textbox p{width:auto;background:#FC9C9A;border-radius:0.189rem;padding:0.5rem 0.377rem 0.5rem 1.0rem;font-size:0.906rem;line-height:1.2rem;color:#fff;margin-top:0.1rem;}
.customerbox .mylybox .splinkbox {float:right;width:100%;padding-right:0.4rem;position:relative;}
.customerbox .mylybox .splinkbox b{position:absolute;width:0.377rem;height:0.943rem;display:block;background:url(../images/kfjtrigt1.png) no-repeat left center;background-size:100%;right:0;top:0.7rem;}
.customerbox .mylybox .splinkbox a.productlk{display:block;background:#fff;border-radius:0.189rem;padding:0.755rem;margin-top:0.1rem;width:100%;position:relative;}
.customerbox .mylybox .splinkbox a.productlk .ptbox{width:100%;overflow:hidden;height:4.34rem;position:relative;padding-left:4.906rem;}
.customerbox .mylybox .splinkbox a.productlk .ptbox img{width:4.151rem;height:4.34rem;position:absolute;left:0;top:0;}
.customerbox .mylybox .splinkbox a.productlk .ptbox .msgbox{width:100%;overflow:hidden;}
.customerbox .mylybox .splinkbox a.productlk .ptbox .msgbox h4{width:100%;font-size:0.679rem;color:#333;white-space: nowrap;text-overflow:ellipsis;overflow:hidden;}
.customerbox .mylybox .splinkbox a.productlk .ptbox .msgbox h2{width:100%;font-size:0.906rem;color:#333;padding:1.094rem 0 0 0;text-align:left;}
.customerbox .mylybox .splinkbox a.productlk p{width:100%;border-top:1px solid #ddd;font-size:0.792rem;color:#999;padding:0.755rem 0 0;margin-top:0.755rem;}

.customerbt{width:100%;height:auto;position:fixed;background:#fff;padding:0.755rem 0;bottom:0;}
.customerbt h4{padding:0 5.415rem 0 0.755rem;position:relative;}
.customerbt h4 article{width:14.208rem;line-height:1.3rem;font-size:0.906rem;color:#888;padding:0.5rem 1.113rem;border:none;border-radius:1.132rem;background:#F7F7F7;text-align:left;outline:none;overflow-y:scroll;overflow-x:hidden;max-height:5.056rem;}
.customerbt h4 article img{display:inline-block;vertical-align: middle;}
.customerbt h4 .bqbtn{width:1.887rem;height:2.264rem;display:block;background:url(../images/kfbq.png) no-repeat center;background-size:1.585rem;position:absolute;top:0;right:2.6rem;text-indent:-999em;}
.customerbt h4 .addfjbtn{width:1.887rem;height:2.264rem;display:block;background:url(../images/kf_add.png) no-repeat center;background-size:1.585rem;position:absolute;top:0;right:0.5rem;text-indent:-999em;}
.customerbt h4 .closefjbtn{width:1.887rem;height:2.264rem;display:block;background:url(../images/kfclose.png) no-repeat center;background-size:1.585rem;position:absolute;top:0;right:0.5rem;text-indent:-999em;display:none;}
.customerbt h4 .sendjbtn{width:2.0rem;height:1.6rem;display:block;position:absolute;top:0.38rem;right:0.5rem;background:#FC9C9A;color:#fff;line-height:1.6rem;text-align:center;font-size:0.792rem;border-radius:0.189rem;display:none;cursor:pointer;}
.customerbt .fujianbox{width:100%;padding:1.132rem 1.9rem 3.208rem;overflow:hidden;position:absolute;bottom:-9.0rem;}
.customerbt .fujianbox.showbox{position:relative;top:0;left:0;}
.customerbt .fujianbox .cammertc{width:2.264rem;padding:0 0.849rem;float:left;}
.customerbt .fujianbox .cammertc span{display:block;width:100%;height:2.264rem;}
.customerbt .fujianbox .cammertc span img{width:100%;height:auto;}
.customerbt .fujianbox .cammertc p{width:100%;font-size:0.792rem;color:#333;padding:0.34rem 0 0 0;text-align:center;}

.customerbt .page_emotion{padding:0.755rem 0.5rem 0;overflow:hidden;height:6.5rem;position:absolute;bottom:-7.0rem;left:0%;}
.customerbt .page_emotion.showbox{position:relative;top:0;left:0;}

/*我的*/
.percenterbox{width:100%;overflow:hidden;}
.percenterbox:after{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:3.3rem;}
.percenterbox .minetop{width:100%;overflow:hidden;background:url(../images/wbg.png) no-repeat center top #fff;background-size:100% auto;position:relative;}
.percenterbox .minetop .setbox{width:2.642rem;height:2.642rem;display:block;background:url(../images/setico.png) no-repeat center;background-size:1.208rem auto;position:absolute;right:0.377rem;top:0;text-indent:-999em;}
.percenterbox .minetop .headbox{width:100%;overflow:hidden;}
.percenterbox .minetop .headbox span{width:3.396rem;height:3.396rem;display:block;border-radius:1.698rem;margin:1.7rem auto 0;}
.percenterbox .minetop .headbox span img{width:100%;height:100%;}
.percenterbox .minetop .headbox p{width:100%;font-size:0.906rem;color:#fff;text-align:center;padding:0.7rem 0 0 0;}
.percenterbox .minetop .hybox{width:100%;overflow:hidden;text-align:center;font-size:0.792rem;color:#333;line-height:1.8rem;margin-top:1.472rem;}
.percenterbox .minetop .hybox a{display:block;width:100%;overflow:hidden;color:#333;cursor:pointer;}
.percenterbox .minetop .hybox a span{display:inline-block;width:1.585rem;height:1.585rem;background:url(../images/vip.png) no-repeat center;background-size:1.585rem auto;padding:0 0.755rem;vertical-align:-0.3rem;}
.percenterbox .minetop ul{width:94%;margin:auto;border-top:1px solid #ddd;margin-top:0.755rem;overflow:hidden;}
.percenterbox .minetop ul li{width:50%;float:left;padding:0.755rem 0;}
.percenterbox .minetop ul li:first-child a{border-right:1px solid #ddd;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.percenterbox .minetop ul li a{width:100%;height:1.208rem;display:block;text-align:center;}
.percenterbox .minetop ul li a span{display:inline-block;height:1.208rem;line-height:1.3rem;font-size:0.679rem;}
.percenterbox .minetop ul li a span:last-child{color:#FD514F;padding:0 0.377rem;}
.percenterbox .minetop ul li a span.acctico{color:#333;padding-left:1.6rem;background:url(../images/zhye.png) no-repeat left center;background-size:1.208rem auto;}
.percenterbox .minetop ul li a span.jfico{color:#333;padding-left:1.6rem;background:url(../images/jftb.png) no-repeat left center;background-size:1.208rem auto;}

.percenterbox .myorderbox{width:100%;overflow:hidden;margin:0.7rem 0 0 0;background:#fff;}
.percenterbox .myorderbox h2{width:100%;padding:0.755rem;font-size:0.906rem;color:#333;}
.percenterbox .myorderbox ul{width:100%;overflow:hidden;}
.percenterbox .myorderbox ul li{width:25%;float:left;overflow:hidden;}
.percenterbox .myorderbox ul li a{width:100%;display:block;overflow:hidden;}
.percenterbox .myorderbox ul li a span{display:block;width:1.585rem;height:1.585rem;margin:auto;}
.percenterbox .myorderbox ul li a span img{width:100%;height:100%;}
.percenterbox .myorderbox ul li a p{width:100%;text-align:center;font-size:0.679rem;padding:0.453rem 0 0.755rem 0;color:#333;}
.percenterbox .minebt{width:100%;overflow:hidden;margin:0.7rem 0 0 0;background:#fff;padding:0 0 0 0.755rem;}
.percenterbox .minebt ul{width:100%;overflow:hidden;}
.percenterbox .minebt ul li{width:100%;float:left;height:2.717rem;background:url(../images/rightarrow.png) no-repeat 96% center;background-size:1.0rem auto;}
.percenterbox .minebt ul li a{width:100%;float:left;height:2.717rem;line-height:2.717rem;font-size:0.792rem;color:#333;border-bottom:1px solid #ddd;}
.percenterbox .minebt ul li a em{width:1.4rem;height:2.717rem;float:left;}
.percenterbox .minebt ul li a em.dzico{background:url(../images/dizigl.png) no-repeat left center;background-size:1.0rem auto;}
.percenterbox .minebt ul li a em.lxwmico{background:url(../images/lxwm.png) no-repeat left center;background-size:1.0rem auto;}
.percenterbox .minebt ul li a em.yqhyico{background:url(../images/yqhy.png) no-repeat left center;background-size:1.0rem auto;}
.percenterbox .minebt ul li a em.tcico{background:url(../images/tcdl.png) no-repeat left center;background-size:1.0rem auto;}

/*我的未开通会员*/
.percenterbox.nomember .minetop .hybox a{color:#FD514F;}
.percenterbox.nomember .minetop ul{opacity: 0.2;}
.percenterbox.nomember .myorderbox h2,.percenterbox.nomember .myorderbox ul{opacity: 0.2;}
.percenterbox.nomember .minebt ul li{opacity: 0.2;}
.percenterbox.nomember .minebt ul li:last-child{opacity: 1.0;}


/*我的积分*/
.myintegralbox{width:100%;height:100%;background:#fff;padding:0.755rem 0.755rem;}
.myintegralbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.9rem;}
.myintegralbox .curjfbox{width:100%;overflow:hidden;height:7.925rem;background:url(../images/jfbg.png) no-repeat left center;background-size:100%;}
.myintegralbox .curjfbox h4{width:100%;font-size:0.906rem;color:#fff;padding:1.7rem 0 0.7rem;text-align:center;text-align:center;}
.myintegralbox .curjfbox h1{width:100%;font-size:2.038rem;color:#fff;text-align:center;text-align:center;font-weight:bolder;}
.myintegralbox h2{width:100%;font-size:0.792rem;color:#333;padding:0.792rem 0 0.566rem;}
.myintegralbox p{width:100%;font-size:0.792rem;color:#666;line-height:1.2rem;}
.mxboxlink{width:100%;overflow:hidden;font-size:0.792rem;}
.mxboxlink a{display:block;width:100%;overflow:hidden;padding:0.755rem 0;text-align:center;color:#666;position:fixed;bottom:2.264rem;}

/*积分明细*/
.interallist{width:100%;height:100%;background:#fff;padding:0 0 0 0.755rem;}
.interallist:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.8rem;}
.interallist ul{width:100%;overflow:hidden;}
.interallist ul li{width:100%;overflow:hidden;border-bottom:1px solid #ddd;}
.interallist ul li .leftmsg{width:70%;float:left;overflow:hidden;}
.interallist ul li .leftmsg h4{width:100%;font-size:0.792rem;color:#333;padding:0.755rem 0 0.453rem;}
.interallist ul li .leftmsg p{width:100%;font-size:0.679rem;color:#999;padding:0 0 0.755rem;}
.interallist ul li .rightjf{float:right;width:30%;font-size:0.906rem;color:#333;line-height:3.8rem;text-align:right;padding-right:0.755rem;} 
.interallist ul li:last-child{border-bottom:none;}
.interallist ul li .rightjf.yelwz{color:#FCA84E;}
.interallist ul li .rightjf.redwz{color:#FD514F;}

/*账户余额*/
.myintegralbox .accountbox{width:100%;overflow:hidden;height:7.925rem;background:url(../images/yebg.png) no-repeat left center;background-size:100%;}
.myintegralbox .accountbox h4{width:100%;font-size:0.906rem;color:#fff;padding:1.7rem 0 0.7rem;text-align:center;text-align:center;}
.myintegralbox .accountbox h1{width:100%;font-size:2.038rem;color:#fff;text-align:center;text-align:center;font-weight:bolder;}
.myintegralbox p.czbtn{width:100%;padding:1.698rem 0;height:5.66rem;}
.myintegralbox p.czbtn a.txbtn{float:left;height:2.264rem;width:7.925rem;line-height:2.264rem;text-align:center;border:1px solid #FD514F;border-radius:1.132rem;font-size:0.981rem;color:#FD514F;}

.myintegralbox p.czbtn a.czbtn{float:right;height:2.264rem;width:7.925rem;line-height:2.264rem;text-align:center;border:1px solid #FD514F;border-radius:1.132rem;font-size:0.981rem;color:#fff;background:#FD514F;}
/*账单明细*/
.interallist ul li .txing{float:right;width:30%;text-align:right;padding-right:0.755rem;}
.interallist ul li .txing h4{font-size:0.906rem;color:#333;padding:0.755rem 0 0.377rem;}
.interallist ul li .txing p{font-size:0.679rem;color:#999;padding:0 0 0.377rem;}
.interallist ul li .failtx{float:right;width:30%;text-align:right;padding-right:0.755rem;}
.interallist ul li .failtx h4{font-size:0.906rem;color:#999;padding:0.755rem 0 0.377rem;}
.interallist ul li .failtx p{font-size:0.679rem;color:#999;padding:0 0 0.377rem;}

/*我的会员*/
.memberbox{width:100%;height:100%;background:#fff;padding:0 0.755rem 1.698rem;}
.memberbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.8rem;}
.memberbox .memberka{width:100%;height:10.189rem;background:url(../images/hybg.png) no-repeat center;background-size:100%;margin-top:0.5rem;}
.memberbox .memberka h4{width:100%;font-size:2.038rem;font-weight:bolder;color:#fff;padding:2.0rem 0 0.4rem 1.094rem;}
.memberbox .memberka h4 b{font-size:0.906rem;}
.memberbox .memberka h2{width:100%;font-size:1.358rem;font-weight:bolder;color:#fff;padding:0 1.528rem 1.2rem 1.094rem;}
.memberbox .memberka p{width:100%;font-size:0.906rem;color:#fff;padding:0 0 0 1.094rem;}
.memberbox .joinbtn{height: 2.264rem;width: 7.925rem;line-height: 2.264rem;text-align: center;border: 1px solid #FD514F;border-radius: 1.132rem;font-size: 0.981rem;color: #fff;background: #FD514F;display:block;margin:1.698rem auto 0;}

/*会员充值*/
.paymentbox ul li h3{width:100%;overflow:hidden;height:1.472rem;}
.paymentbox ul li h3 span:first-child{float:left;width:25%;padding:0;line-height:1.472rem;font-size:0.906rem;color:#999;}
.paymentbox ul li h3 span:last-child{float:left;width:25%;padding:0;line-height:1.472rem;font-size:0.906rem;color:#333;text-align:right;float:right;}

/*账户提现*/
.paymentbox .postalje{width:100%;overflow:hidden;border-bottom:1px solid #ddd;}
.paymentbox .postalje h4{width:100%;overflow:hidden;font-size: 0.906rem;color: #999;padding:0.5rem 0 0.717rem;}
.paymentbox .postalje p{width:100%;overflow:hidden;padding-bottom:0.755rem;}
.paymentbox .postalje p input{width:100%;height:2.83rem;background:#F2F2F2;border-radius:0.189rem;text-align:center;font-size:1.623rem;font-weight:bolder;color:#333;border:none;}
.paymentbox .acctmsg{width:100%;overflow:hidden;}
.paymentbox .acctmsg h4{width:100%;overflow:hidden;font-size: 0.906rem;color: #999;padding:0.5rem 0 0.717rem;}
.paymentbox .acctmsg p{width:100%;overflow:hidden;padding:0 0 0 3.774rem;position:relative;border-bottom:1px solid #ddd;height:2.0rem;}
.paymentbox .acctmsg p span{position:absolute;left:0;top:0;font-size:0.906rem;color:#333;height:2.0rem;line-height:2.0rem;}
.paymentbox .acctmsg p input{width:100%;height:2.0rem;border:none;font-size:0.906rem;color:#333;height:2.0rem;}

/*充值*/
.paymentbox .postalje .rechargenum{width:100%;overflow:hidden;}
.paymentbox .postalje .rechargenum li{width:50%;padding:0;border-bottom:none;float:left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin-bottom:0.755rem;cursor:pointer;}
.paymentbox .postalje .rechargenum li:nth-child(2n){padding-left:0.566rem;}
.paymentbox .postalje .rechargenum li:nth-child(2n+1){padding-right:0.566rem;}
.paymentbox .postalje .rechargenum li a{width:100%;height:3.396rem;background:#F2F2F2;border-radius:0.189rem;font-size:0.981rem;color:#333;display:block;padding:0 0 0 0.755rem;font-weight:bolder;line-height:3.396rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;position:relative;border:1px solid #F2F2F2;}
.paymentbox .postalje .rechargenum li a b{width:4.434rem;height:1.434rem;display:block;background:url(../images/sjfbg.png) no-repeat center;background-size:100% auto;line-height:1.5rem;text-align:center;color:#fff;font-size:0.679rem;top:0;right:0;position:absolute;font-weight:normal;text-align:right;padding-right:0.2rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.paymentbox .postalje .rechargenum li.select a{background:#fff;border:1px solid #FD514F;color:#FD514F;}


/*退出登陆*/
.maskbg{width:100%;height:100%;background:#000;opacity: 0.4;position:fixed;z-index:1002;display:none;}
.signoutpup{width: 15.849rem;height:6.094rem;background:#fff;border-radius:0.189rem;position:fixed;top:50%;left:50%;margin-top:-3.047rem;margin-left:-7.924rem;z-index:1004;display:none;}
.signoutpup h2{width:100%;font-size:0.792rem;color:#333;padding:1.56rem 0;text-align:center;}
.signoutpup p{width:100%;height:1.887rem;border-top:1px solid #ddd;}
.signoutpup p a{width:50%;float:left;height:1.887rem;line-height:1.887rem;font-size:0.792rem;text-align:center;border-right:1px solid #ddd;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.signoutpup p a.grywz{color:#999;}
.signoutpup p a.redwz{color:#FD514F;border-right:none;}

/*联系我们*/
.contactusbox{width:100%;height:100%;background:#fff;padding:0 0.755rem 0.2rem;}
.contactusbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.8rem;}
.contactusbox ul{width:100%;overflow:hidden;}
.contactusbox ul li{width:100%;height:2.264rem;border-bottom:1px solid #ddd;}
.contactusbox ul li span:first-child{float:left;height:2.264rem;line-height:2.264rem;font-size:0.792rem;color:#333;width:30%;}
.contactusbox ul li span:last-child{float:right;height:2.264rem;line-height:2.264rem;font-size:0.679rem;color:#999;width:70%;text-align:right;}
.contactusbox ul li:last-child{border-bottom:none;}

/*邀请好友*/
header.commenhead.invitehead{background:none;color:#fff;border-bottom:1px solid #fb7e7e;}
header.commenhead.invitehead.noborder{border-bottom:none;}
header.commenhead.invitehead a{color:#fff;}
header.commenhead.invitehead a.backico{background: url(../images/backwhiteico.png) no-repeat center;background-size: 0.566rem auto;}

.invitefridbox{width:100%;height:100%;background:url(../images/yqbg.png) no-repeat center top #ffa499;background-size:100% auto;padding:0 0.755rem 0.2rem;position:fixed;}
.invitefridbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.8rem;}
.invitefridbox p{width:100%;text-align:center;font-size:0.792rem;text-shadow:0px 2px 1px rgba(0, 0, 0, 0.3);padding:4.3rem 0 0.755rem;color:#fff;}
.invitefridbox h2{width:100%;text-align:center;font-size:1.698rem;color:#fff;text-shadow:0px 2px 1px rgba(0, 0, 0, 0.3);}
.invitefridbox h4{width:100%;text-align:center;font-size:0.906rem;color:#fff;text-shadow:0px 2px 1px rgba(0, 0, 0, 0.3);padding:0.906rem 0 0 0;}
.invitefridbox .yqbtn{display:block;height: 2.264rem;width: 7.925rem;line-height: 2.264rem;text-align: center;border: 1px solid #FFD555;border-radius: 1.132rem;font-size: 0.981rem;color:#FD514F;background: #FFD555;margin:1.736rem auto 0;}

.sendewmbox{width:100%;height:100%;background:url(../images/yqewmbg.png) no-repeat center top #fca33d;background-size:100% auto;padding:0 0.755rem 0.2rem;position:fixed;}
.sendewmbox .inciteewmbox{width:17.0rem;background:#fff;border-radius:10px;position:absolute;bottom:3.5rem;left:50%;margin-left:-8.5rem;padding:0.755rem 0.755rem 0.2rem 0.755rem;}
.sendewmbox .inciteewmbox h2{width:100%;font-size:1.55rem;color:#FD514F;font-weight:bolder;text-align:center;padding:0.15rem 0 0.6rem;}
.sendewmbox .inciteewmbox h4{width:100%;font-size:0.9rem;text-align:center;color:#FD514F;padding-bottom:0.8rem;}
.sendewmbox .inciteewmbox p{width:100%;font-size:0.8rem;text-align:center;color:#333;padding-bottom:0.8rem;}
.sendewmbox .inciteewmbox .ewmimg{width:6.792rem;height:6.792rem;margin:0 auto 0.8rem;}
.sendewmbox .inciteewmbox .ewmimg img{width:6.792rem;height:6.792rem}

/*邀请明细*/
.invitedtbox{width:100%;height:100%;padding:0 0 0.2rem;}
.invitedtbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.invitedtbox .invitedtone{width:100%;overflow:hidden;padding:0;background:#fff;padding:0 0.755rem 0.755rem;}
.invitedtbox .invitedtone h2{width:100%;font-size:0.792rem;padding:0.868rem 0 0;color:#333;}
.invitedtbox .invitedtone h2 span{width:40%;padding-right:0.943rem;font-size:0.792rem;color:#999;text-align:right;background:url(../images/yjt.png) no-repeat right center;background-size:0.8rem auto;float:right;}
.invitedtbox .invitedtone h4{width:100%;font-size:0.792rem;color:#333;height:1.811rem;line-height:1.811rem;display:none;margin-top:0.755rem;}
.invitedtbox .invitedtone h4 em{width:1.811rem;height:1.811rem;float:left;margin-right:0.755rem;}
.invitedtbox .invitedtone h4 em img{width:100%;height:100%;}

.invitedtbox .invitedtlist{width:100%;overflow:hidden;padding:0;background:#fff;padding:0 0.755rem 0;margin-top:0.7rem;}
.invitedtbox .invitedtlist h2{width:100%;font-size:0.792rem;padding:0.868rem 0 0;color:#333;}
.invitedtbox .invitedtlist h2 em{color:#999;}
.invitedtbox .invitedtlist ul{width:100%;overflow:hidden;}
.invitedtbox .invitedtlist ul li{width:100%;overflow:hidden;float:left;border-bottom:1px solid #ddd;line-height:1.811rem;padding:0.755rem 0;font-size:0.792rem;}
.invitedtbox .invitedtlist ul li:last-child{border-bottom:none;}
.invitedtbox .invitedtlist ul li em{width:1.811rem;height:1.811rem;float:left;margin-right:0.755rem;}
.invitedtbox .invitedtlist ul li em img{width:100%;height:100%;}

.addyqr{width: 15.849rem;overflow:hidden;background: #fff;border-radius: 0.189rem;position: fixed;top: 9.434rem;left: 50%;margin-left: -7.924rem;z-index: 1004;padding:0.755rem 0 0;display:none;}
.addyqr h4{width:100%;font-size:0.906rem;color:#333;text-align:center;}
.addyqr h3{width:100%;overflow:hidden;padding:1.509rem 0.755rem 0.755rem;}
.addyqr h3 input{width:9.453rem;height:1.811rem;border:1px solid #ddd;text-align:center;font-size:0.792rem;color:#333;float:left;}
.addyqr h3 a{width:4.075rem;height:1.811rem;line-height:1.811rem;float:right;text-align:center;font-size:0.792rem;color:#fff;background:#FD514F;}
.addyqr p{width:100%;height:1.887rem;border-top:1px solid #ddd;margin-top:0.755rem;}
.addyqr p a{width:50%;float:left;height:1.887rem;line-height:1.887rem;font-size:0.792rem;text-align:center;border-right:1px solid #ddd;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.addyqr p a.grywz{color:#999;}
.addyqr p a.redwz{color:#FD514F;border-right:none;}
.addyqr h5{width:100%;font-size:0.792rem;color:#333;height:1.811rem;line-height:1.811rem;padding:0 1.887rem;display:none;}
.addyqr h5 em{width:1.811rem;height:1.811rem;float:left;margin-right:0.755rem;}
.addyqr h5 em img{width:100%;height:100%;}

/*我的订单*/
.ordercatfy{width:100%;height:2.264rem;background:#fff;position:fixed;top:2.642rem;z-index:99;}
.ordercatfy a{float:left;height:2.264rem;line-height:2.264rem;font-size:0.792rem;color:#333;width:15%;margin:0 5%;border-bottom:0.189rem solid #fff;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;text-align:center;}
.ordercatfy a.select{color:#FD514F;border-bottom:0.189rem solid #FD514F;}
.orderlistbox{width:100%;height:100%;padding:0 0 0.2rem;}
.orderlistbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:4.906rem;}
.orderlistbox ul{width:100%;overflow:hidden;}
.orderlistbox ul li{width:100%;overflow:hidden;padding:0 0.755rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;background:#fff;margin-top:0.755rem;}
.orderlistbox ul li h3{width:100%;padding:0.755rem 0 0;color:#999;font-size:0.679rem;}
.orderlistbox ul li h3 span{float:right;color:#FD514F;}
.orderlistbox ul li .btbox{width:100%;overflow:hidden;}
.orderlistbox ul li .btbox a{display:block;width:100%;overflow:hidden;position:relative;}
.orderlistbox ul li .btbox a .endtotal{width:100%;text-align:right;padding:0.755rem 0;font-size:0.792rem;color:#333;}
.orderlistbox ul li .btbox a .endtotal b{font-size:0.679rem;color:#999;font-weight:normal;}
.orderlistbox ul li .btbox a .prodt {width:100%;overflow:hidden;border-bottom: 1px solid #ddd;padding:0.755rem 0;}
.orderlistbox ul li .btbox .imgbox{width:5.472rem;height:5.66rem;position:absolute;left:0;}
.orderlistbox ul li .btbox .imgbox img{width:5.472rem;height:5.66rem;}
.orderlistbox ul li .btbox .textbox{width:100%;padding:0 0 0 6.0rem;height:5.66rem;}
.orderlistbox ul li .btbox .textbox h4{width:100%;font-size:0.679rem;color:#333;line-height:1.132rem;height:2.264rem;overflow:hidden;margin-bottom:0.792rem;}

.orderlistbox ul li .btbox .textbox h5{width:100%;font-size:0.679rem;color:#333;padding-bottom:0.66rem;}
.orderlistbox ul li .btbox .textbox p{width:100%;overflow:hidden;}
.orderlistbox ul li .btbox .textbox p span:first-child{font-size:0.906rem;color:#FD514F;float:left;}
.orderlistbox ul li .btbox .textbox p span:first-child b{font-size:0.604rem;}
.orderlistbox ul li .btbox .textbox p span.jfnum{float:left;font-size: 0.906rem;color: #FD514F;padding-right: 1.0rem;background: url(../images/jifico.png) no-repeat right 0;background-size: 0.906rem;margin-left:0.1rem;}
.orderlistbox ul li .btbox .textbox p span.yjnum{float:left;font-size: 0.604rem;color: #999;text-decoration: line-through;padding-left: 0.7rem;}
.orderlistbox ul li .orderczbtn {width:100%;height:1.85rem;padding-bottom:0.755rem;}
.orderlistbox ul li .orderczbtn a{float:right;width:4.528rem;height:1.736rem;line-height:1.736rem;font-size:0.792rem;border-radius:0.868rem;text-align:center;margin-left:0.755rem;cursor:pointer;}
.orderlistbox ul li .orderczbtn a.redbtn{background:#FD514F;border:1px solid #FD514F;color:#fff;}
.orderlistbox ul li .orderczbtn a.whitebtn{background:#fff;border:1px solid #999;color:#333;}
.orderlistbox ul li .orderczbtn a.whitewzbtn{background:#fff;border:none;color:#FD514F;}


/*地址管理*/
.adresslistbox{width:100%;height:100%;padding:0 0 0.2rem;}
.adresslistbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.adresslistbox ul{width:100%;overflow:hidden;}
.adresslistbox ul li{width:100%;overflow:hidden;float:left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:0 0.755rem;background:#fff;margin-bottom:0.755rem;}
.adresslistbox ul li h4{width:100%;font-size:0.792rem;color:#333;padding:0.755rem 0 0.34rem;}
.adresslistbox ul li p{width:100%;font-size:0.679rem;color:#999;padding:0 0 0.755rem;}
.adresslistbox ul li h2{width:100%;border-top:1px solid #ddd;}
.adresslistbox ul li h2 span{float:left;height:2.491rem;line-height:2.491rem;font-size:0.679rem;padding-left:1.321rem;color:#999;background: url(../images/checkico.png) no-repeat left center;background-size: 1.019rem;cursor:pointer;}
.adresslistbox ul li h2 span.checked{float:left;height:2.491rem;line-height:2.491rem;font-size:0.679rem;padding-left:1.321rem;color:#999;background: url(../images/checkedico.png) no-repeat left center;background-size: 1.019rem;cursor:pointer;}
.adresslistbox ul li h2 a{float:right;height:2.491rem;line-height:2.491rem;font-size:0.679rem;color:#999;padding-left:1.321rem;margin-left:0.755rem;}
.adresslistbox ul li h2 a.delectbtn{background: url(../images/clearico.png) no-repeat left center;background-size:1.019rem auto;}
.adresslistbox ul li h2 a.editbtn{background: url(../images/editico.png) no-repeat left center;background-size:1.019rem auto;}
.adresslistbox .xinxibox{width:100%;overflow:hidden;background:#fff;}
.adresslistbox .xinxibox p{width:100%;border-bottom:1px solid #f2f2f2;height:2.075rem;padding:0 0.755rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.adresslistbox .xinxibox p span:first-child{float:left;width:23%;height:2.075rem;line-height:2.075rem;font-size:0.792rem;color:#999;}
.adresslistbox .xinxibox p span:last-child{float:right;width:77%;height:2.075rem;}
.adresslistbox .xinxibox p span:last-child input,.shadressmsg .xinxibox p span.ssqit input{height:2.0rem;color:#333;width:100%;border:none;font-size:0.792rem;padding:0;margin:0;}
.adresslistbox .xinxibox p span.ssqit{float:left;width:57%;height:2.075rem;}
.adresslistbox .xinxibox p span.ssqit input{text-align:left;}
.adresslistbox .xinxibox p span.dwbtn{float:right;width:20%;height:1.2rem;border-left:1px solid #ddd;font-size:0.792rem;color:#999;padding:0 0 0 0.755rem;background: url(../images/dwico.png) no-repeat right center;background-size: 0.906rem;line-height:1.2rem;margin-top:0.4rem;}


/*设置中心*/
.setingbox{width:100%;overflow:hidden;}
.setingbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.accountset{width:100%;overflow:hidden;padding:0 0 0 0.755rem;background:#fff;}
.accountset h2{width:100%;font-size:0.906rem;color:#333;padding:0.755rem 0 0 0;}
.accountset ul{width:100%;overflow:hidden;}
.accountset ul li{width:100%;padding:0.755rem 0 0.755rem 0 ;border-bottom:1px solid #ddd;font-size:0.792rem;overflow:hidden;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.accountset ul li:last-child{border-bottom:none;}
.accountset ul li span:first-child{float:left;width:30%;}
.accountset ul li span.editname{float:right;width:70%;text-align:right;padding-right:1.9rem;background: url(../images/yjt.png) no-repeat 94.5% center;background-size:0.8rem auto;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.accountset ul li span.edithead{float:right;width:70%;height:1.811rem;text-align:right;padding-right:1.9rem;background: url(../images/yjt.png) no-repeat 94.5% center;background-size:0.8rem auto;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.accountset ul li span.edithead img{width:1.811rem;height:100%;float:right;}
.accountset ul li a{color:#333;width:100%;display:block;padding-right:1.9rem;background: url(../images/yjt.png) no-repeat 96% center;background-size:0.8rem auto;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.setingbox .setbt{width:100;height:2.547rem;background: url(../images/yjt.png) no-repeat 96% center #fff;background-size:0.8rem auto;margin-top:0.755rem;}
.setingbox .setbt a{display:block;width:100;height:2.547rem;line-height:2.547rem;font-size:0.792rem;color:#333;padding:0 0.755rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.addyqr.editnamebox h3 input{width:100%;}

.addyqr.edithdimgbox h3{width:4.528rem;height:4.528rem;margin:1.698rem auto;position:relative;padding:0;cursor:pointer;}
.addyqr.edithdimgbox h3 span{display:block;width:4.528rem;height:4.528rem;position:relative;z-index:3;border-radius:100%;overflow:hidden;}
.addyqr.edithdimgbox h3 span img{width:100%;height:100%;}
.addyqr.edithdimgbox h3 input{width:4.528rem;height:4.528rem;opacity: 0;position:absolute;top:0;left:0;z-index:5;cursor:pointer;}
.addyqr.edithdimgbox .upimgtk .webuploader-container{width:4.528rem;height:4.528rem;position:absolute;top:0;left:0;z-index:5;cursor:pointer;}
.addyqr.edithdimgbox .upimgtk{width:4.528rem;height:4.528rem;margin:1.698rem auto;position:relative;padding:0;cursor:pointer;}
.addyqr.edithdimgbox .upimgtk span{display:block;width:4.528rem;height:4.528rem;position:relative;z-index:3;border-radius:100%;overflow:hidden;}
.addyqr.edithdimgbox .upimgtk span img{width:100%;height:100%;}
.addyqr.edithdimgbox .upimgtk .webuploader-pick{width:4.528rem;height:4.528rem;padding:0;background: #00a2d4;position:relative;z-index:333;opacity: 0;}
.addyqr.edithdimgbox .upimgtk .webuploader-container div{width:4.528rem !important;height:4.528rem !important;padding:0;background: #00a2d4;position:relative;z-index:333;opacity: 0;}
.addyqr.edithdimgbox .upimgtk .webuploader-container div input{width:4.528rem !important;height:4.528rem !important;position:absolute;top:0;left:0;z-index:6;}
.addyqr.edithdimgbox .upimgtk .webuploader-container div label{width:4.528rem !important;height:4.528rem !important;position:relative;z-index:3;}
/*账号关联*/
.acctblindbox{width:100%;overflow:hidden;background:#fff;}
.acctblindbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.acctblindbox ul{width:100%;overflow:hidden;}
.acctblindbox ul li{width:100%;overflow:hidden;padding:0 0 0 0.755rem;}
.acctblindbox ul li a{display:block;width:100%;height:2.038rem;border-bottom:1px solid #ddd;background: url(../images/yjt.png) no-repeat 93% center #fff;background-size:0.9rem auto;padding:0.755rem 0;line-height:2.038rem;font-size:0.792rem;color:#333;}
.acctblindbox ul li a em{width:2.038rem;height:2.038rem;float:left;margin-right:0.377rem;}
.acctblindbox ul li a em img{width:2.038rem;height:2.038rem;}
.acctblindbox ul li a span{float:right;padding-right:2.509rem;color:#999;}
.acctblindbox ul li:last-child a{border-bottom:none;}

.blindedbox{width:100%;overflow:hidden;}
.blindedbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.blindedbox h2{width:100%;overflow:hidden;padding:0.755rem;height:3.566rem;font-size:0.792rem;line-height:2.038rem;background:#fff;}
.blindedbox h2 em{width:2.038rem;height:2.038rem;float:left;margin-right:0.377rem;}
.blindedbox h2 em img{width:2.038rem;height:2.038rem;}
.blindedbox h2 span{float:right;color:#999;}

.delectblind{width:100%;height:2.83rem;background:#fff;margin-top:0.755rem;line-height:2.83rem;font-size:0.792rem;display:block;text-align:center;color:#FD514F;}

/*消息推送*/
.msgpushbox{width:100%;overflow:hidden;background:#fff;padding:0 0.755rem;}
.msgpushbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.msgpushbox span{width:50%;font-size:0.792rem;float:left;height:2.566rem;line-height:2.566rem;}
.msgpushbox .rightswitch{float:right;margin:0.547rem 0;}
/*支付设置*/
.setpaypwd{width:100%;overflow:hidden;padding:0;overflow:hidden;background:#fff;height:100%;position:fixed;}
.setpaypwd:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height:2.642rem;}
.setpaypwd .paypassword{display:block;height:100%;position:relative;}

