<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
                </div>
                <div class="panel-body">
                    <notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
<!--                    <form role="form" action="{$action}" method="POST" enctype="multipart/form-data">-->
                        <notempty name="id"><input name="id" type="hidden" value="{$id}" /></notempty>
                        <div class="form-group">
                            <label class="control-label" for="goods_type_id">商品分类</label>
                            <div class="controls">
                                <select name="goods_type_id" data-am-selected="{btnSize: 'sm'}" class="btn-sm" id="goods_type_id">
                                    <option value="">全部</option>
                                    <volist name="GoodsTypeInfo" id="vo">
                                        <option value="{$vo.id}">{$vo.name}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="special_id">商品专题</label>
                            <div class="controls">
                                <select name="special_id" data-am-selected="{btnSize: 'sm'}" class="btn-sm" id="special_id">
                                    <option value="">全部</option>
                                    <volist name="SpecialInfo" id="vo">
                                        <option value="{$vo.id}">{$vo.name}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">商品名称</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
<!--                                    <input name="name" class="form-control focused" id="name" type="text" value="{$GoodsInfo.name}">-->
                                    <textarea type="text" name="name" class="form-control focused" id="name" value=""></textarea>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label class="control-label" for="goodsimg">商品图片</label>
                            <div class="controls">
                                <input type="file" name="goodsimg" id="goodsimg"/>
                                <a href="{$msgurl}{$GoodsInfo.goodsimg}" data-lightbox="image-165593" data-title="165593">
                                    <img src="{$msgurl}{$GoodsInfo.goodsimg}" width="50em" >
                                </a>
                            </div>
                        </div>-->
                        <div id="uploader-demo">
                            <!--用来存放item-->
                            <div id="fileList" class="uploader-list"></div>
                            <div id="filePicker">商品图片</div>
                            <div id = 'append_file' style="display: none"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="desc">简介</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
<!--                                    <input name="desc" class="form-control focused" id="desc" type="text" value="{$GoodsInfo.desc}">-->
                                    <textarea type="text" name="desc" class="form-control focused" id="desc"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="price">原价（首页展示价格）</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <input name="price" class="form-control focused" id="price" type="text" value="{$GoodsInfo.price}">(原件与折扣价都不填，则用积分抵扣)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="discount_price">折扣价（首页展示价格）</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <input name="discount_price" class="form-control focused" id="discount_price" type="text" value="{$GoodsInfo.discount_price}">(原件与折扣价都不填，则用积分抵扣)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="integral">抵扣积分</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <input name="integral" class="form-control focused" id="integral" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="reward_integral">奖励用户的积分</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <input name="reward_integral" class="form-control focused" id="reward_integral" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="reward_up_integral">奖励上级积分</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <input name="reward_up_integral" class="form-control focused" id="reward_up_integral" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="reward_up_up_integral">奖励上上级积分</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <input name="reward_up_up_integral" class="form-control focused" id="reward_up_up_integral" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="stock">库存（抢购展示总规格库存）</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <input name="stock" class="form-control focused" id="stock" type="text" value="{$GoodsInfo.stock}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="control-label" for="norms">规格</label>(请严格按此格式填写,请使用中文冒号) 例:口味：腌制五香|50g,100,10,5|100g,100,20,10|300g,200,30,20. 字段说明:(口味|规格,库存,原价,折扣价)
                            <div class="controls">
                                <div class="input-group date col-sm-4" id="on_id">
                                    <input name="norms" class="form-control focused" id="focusedInput_norms" style="width: 500px;" type="text" value="">
<!--                                    <textarea type="text" name="norms" class="form-control focused" id="norms"></textarea>-->
                                    <span id="on_class" style="left:1000px">添加</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="details">详情</label> (请严格按此格式填写,冒号请使用中文,逗号请使用英文) 例：产品名称：羔羊卷,原产地：开封
                            <div class="controls">
                                <div class="input-group date col-sm-4">
<!--                                    <input name="details" class="form-control focused" id="details" type="text" value="{$GoodsInfo.details}">-->
                                    <textarea type="text" name="details" class="form-control focused" id="details"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="starttime">抢购开始时间</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <input class="input-sm" onClick="WdatePicker()" type="text" name="starttime" id="starttime" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="endtime">抢购结束时间</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <input class="input-sm" onClick="WdatePicker()" type="text" name="endtime" id="endtime" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="detailsimg">图文详情</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <!--<textarea type="text" name="detailsimg" id="EditorId" ></textarea>-->
                                    <script id="container" name="content" type="text/plain" style="width: 1000px;height: 300px"></script>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary baocun" value="保存" />
                            <a href="lists.html" class="btn btn-warning" >返回</a>
                        </div>
<!--                    </form>-->
                </div>
            </div>
        </div><!--/col-->

    </div>

    <style>
        .countrylistdiv{float:left;    float: left;
            height: 25px;
            line-height: 25px;
            width: 120px;
            font-size: 14px;}


    </style>
    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/upload/webuploader.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8" src="__LIB__/ueditorphp/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__LIB__/ueditorphp/ueditor.all.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/upload/webuploader.css">
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
    <script>
        $(function(){
            $("#on_class").click("live",function(){
                $("#on_id").append("<input name=\"norms\" id=\"focusedInput_norms\" style=\"width: 500px;\" class=\"form-control focused\" type=\"text\" >");
                // $("#on_id").append("<textarea type=\"text\" name=\"norms\" class=\"form-control focused\" id=\"norms\"></textarea>");
            });
            //ajax请求
            $('.baocun').click(function(){
            //获取数据
                var goods_type_id = $('#goods_type_id').val();
                // if (!goods_type_id){
                //     alert("请选择商品分类");
                //     return false;
                // }
                var special_id = $('#special_id').val();
                // var is_new = $('#is_new').val();
                var name = $('#name').val();
                // if (!name){
                //     alert("请填写商品名称");
                //     return false;
                // }
                var goodsimg = new Array();
                var norms = new Array();
                $('input[name="goodsimg"]').each(function(){
                    var img = $(this).val();
                    goodsimg.push(img)
                });
                // if (!goodsimg){
                //     alert("请选择商品图片");
                //     return false;
                // }
                var videoimg = $('#videoimg').val();
                var upfile = $('#upfile').val();
                // if (!upfile){
                //     alert("请上传视频");
                //     return false;
                // }
                var desc = $('#desc').val();
                // if (!desc){
                //     alert("请填写简介");
                //     return false;
                // }
                var price = $('#price').val();
                // if (!price){
                //     alert("请填写原价");
                //     return false;
                // }
                var discount_price = $('#discount_price').val();
                // if (!discount_price){
                //     alert("请填写折扣价");
                //     return false;
                // }
                var integral = $('#integral').val();
                var reward_integral = $('#reward_integral').val();
                var reward_up_integral = $('#reward_up_integral').val();
                var reward_up_up_integral = $('#reward_up_up_integral').val();
                var stock = $('#stock').val();
                // if (!stock){
                //     alert("请填写库存");
                //     return false;
                // }
                $('input[name="norms"]').each(function(){
                    var norm = $(this).val();
                    norms.push(norm)
                });
                var details = $('#details').val();
                // if (!details){
                //     alert("请填写详情");
                //     return false;
                // }
                var starttime = $('#starttime').val();
                var endtime = $('#endtime').val();
                var detailsimg = ue.getContent();
                // if (!detailsimg){
                //     alert("请填写图文详情");
                //     return false;
                // }
                var params = {
                    "goods_type_id" : goods_type_id,
                    "special_id" : special_id,
                    // "is_new" : is_new,
                    "name" : name,
                    "goodsimg" : goodsimg,
                    "videoimg" : videoimg,
                    "upfile" : upfile,
                    "desc" : desc,
                    "price" : price,
                    "discount_price" : discount_price,
                    "integral" : integral,
                    "reward_integral" : reward_integral,
                    "reward_up_integral" : reward_up_integral,
                    "reward_up_up_integral" : reward_up_up_integral,
                    "stock" : stock,
                    "norms" : norms,
                    "details" : details,
                    "starttime" : starttime,
                    "endtime" : endtime,
                    "detailsimg" : detailsimg,
                };
                $.post("{:U('Adms/Goods/addshop')}", params, function(res){
                    //请求成功时回调函数
                    if (res.err == 200){
                        // alert(res);
                        window.location.href = '/Adms/Goods/lists.html';
                    }


                });
            });

        })
    </script>

<!--上传图片-->
    <script type="text/javascript">
        $(function () {
            // 初始化Web Uploader
            var uploader = WebUploader.create({

                // 选完文件后，是否自动上传。
                auto: true,

                // swf文件路径
                swf: '/Uploader.swf',

                // 文件接收服务端。
                server: '/Adms/Goods/upload_img',

                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#filePicker',

                // 只允许选择图片文件。
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                }
            });

            // 当有文件添加进来的时候
            uploader.on('fileQueued', function (file) {
                console.log(file)
                var $li = $(
                    '<div style="width:300px" id="' + file.id + '" class="file-item thumbnail">' +
                    '<img>' +
                    '<div class="info">' + file.name + '</div>' +
                        '<div style="display: none" class="upload_images">'+file.id+'</div>'+
                    '</div>'
                    ),
                    $img = $li.find('img');


                // $list为容器jQuery实例
                var $list = $("#fileList");
                $list.append($li);

                // 创建缩略图
                // 如果为非图片文件，可以不用调用此方法。
                // thumbnailWidth x thumbnailHeight 为 100 x 100
                var thumbnailWidth = 100;
                var thumbnailHeight = 100;
                uploader.makeThumb(file, function (error, src) {
                    if (error) {
                        $img.replaceWith('<span>不能预览</span>');
                        return;
                    }

                    $img.attr('src', src);
                }, thumbnailWidth, thumbnailHeight);
            });

            // 文件上传过程中创建进度条实时显示。
            uploader.on('uploadProgress', function (file, percentage) {
                var $li = $('#' + file.id),
                    $percent = $li.find('.progress span');

                // 避免重复创建
                if (!$percent.length) {
                    $percent = $('<p class="progress"><span></span></p>')
                        .appendTo($li)
                        .find('span');
                }

                $percent.css('width', percentage * 100 + '%');
            });

            // 文件上传成功，给item添加成功class, 用样式标记上传成功。
            uploader.on('uploadSuccess', function (file,response) {
                console.log(response._raw)
                var html = '<input  type="hidden" name="goodsimg" value='+response._raw+'/>';
                $("#append_file").append(html);
                $('#' + file.id).addClass('upload-state-done');
            });

            // 文件上传失败，显示上传出错。
            uploader.on('uploadError', function (file) {
                var $li = $('#' + file.id),
                    $error = $li.find('div.error');

                // 避免重复创建
                if (!$error.length) {
                    $error = $('<div class="error"></div>').appendTo($li);
                }

                $error.text('上传失败');
            });

            // 完成上传完了，成功或者失败，先删除进度条。
            uploader.on('uploadComplete', function (file) {
                $('#' + file.id).find('.progress').remove();
            });
        });

    </script>

</block>