<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>
                </div>
                <div class="panel-body">
                    <div class="form-group search">
                        <form class="form-horizontal" action="{$action}" method="get">
                            <select name="special_id" data-am-selected="{btnSize: 'sm'}" class="btn-sm">
                                <option value="">商品专题</option>
                                <volist name="specialInfo" id="vo">
                                    <option value="{$vo['id']}">{$vo['name']}</option>
                                </volist>
                            </select>
                            关键词： <input  class="input-sm" type="text" name="keyword" value="{$get.keyword}" />
                            <input class="btn btn-sm btn-info" type="submit" value="查询" />
                            <div style="float:right;"> <a class="btn btn-primary" href="add.html">添加</a></div>
                        </form>
                    </div>
                    <table style="table-layout: fixed;width: 100%;" class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead>
                        <tr>
                            <th width="20">id</th>
                            <th width="50">商品分类</th>
                            <th width="80">商品名称</th>
                            <th width="100">商品图片</th>
                            <th width="120">简介</th>
                            <!--<th width="45">原价</th>-->
                            <!--<th width="50">折扣价</th>-->
                            <!--<th width="50">库存</th>-->
                            <th width="30">状态</th>
                            <th width="160">规格</th>
                            <th width="42">是否抢购</th>
                            <th width="42">是否新品</th>
                            <th width="74">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="GoodsInfo" id="vo">
                            <tr>
                                <td>{$vo.id}</td>
                                <volist name="GoodsTypeInfo" id="vo2">
                                    <if condition="$vo['goods_type_id'] eq $vo2['id']">
                                        <td>{$vo2.name}</td>
                                    </if>
                                </volist>
                                <td>{$vo.name}</td>
                                <php>
                                    $count = count($vo['goodsimg']);
                                </php>
                                <if condition="$count gt 1">
                                    <td>
                                        <volist name="vo['goodsimg']" id="vo2">
                                            <a href="{$msgurl}{$vo2}" data-lightbox="image-165593" data-title="165593">
                                                <img src="{$msgurl}{$vo2}" width="50em" >
                                            </a>
                                        </volist>
                                    </td>
                                    <else/>
                                    <td>
                                        <a href="{$msgurl}{$vo.goodsimg[0]}" data-lightbox="image-165593" data-title="165593">
                                            <img src="{$msgurl}{$vo.goodsimg[0]}" width="50em" >
                                        </a>
                                    </td>
                                </if>
                                <td>{$vo.desc}</td>
                                <!-- <td>{$vo.price}</td>-->
                                <!-- <td>{$vo.discount_price}</td>-->
                                <!--<td>{$vo.stock}</td>-->
                                <if condition="$vo['is_up'] eq 0">
                                    <td style="color: blue">下架</td>
                                    <else/>
                                    <td style="color: red">上架</td>
                                </if>
                                <td><volist name="vo.norms" id="vo3">{$vo3},</volist></td>
                                <if condition="$vo['special_id'] eq 1">
                                    <td>是</td>
                                    <else/>
                                    <td>否</td>
                                </if>
                                <if condition="$vo['special_id'] eq 3">
                                    <td>是</td>
                                    <else/>
                                    <td>否</td>
                                </if>
<!--                                <td>{:date("Y-m-d H:i:s",$vo['addtime'])}</td>-->
                                <td>
                                    <a href="edit.html?id={$vo.id}">修改</a> ||
<!--                                    <a href="del.html?id={$vo.id}">删除</a> ||-->
                                    <a href="/Adms/Goods/upgoods?id={$vo.id}">上架</a> ||
                                    <a href="/Adms/Goods/downgoods?id={$vo.id}">下架</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    {$Pages}
                </div>
            </div>
        </div><!--/col-->

    </div>

    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>

</block>